---
layout: page
title: Blog
permalink: /blog/
---

<ul class="posts">
{% for post in site.posts %}
  {% if post.hidden != true %}
  <li>
    <a href="{{ post.url }}">
      <span class="post__title">{{ post.title }}</span>
      <small class="post__date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %b %d, %Y" }}</time></small>
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>
