---
title: On-Air CMS
permalink: /cms/
custom_css: on-air
---
<!DOCTYPE html>
<html>
  {% include head.html %}

    <body class="cms-landing">

      <main class="main__content" role="main">
        <section class="page__section bg-dark section__heading">
          <div class="contain">
            <h1 class="page__title text-center">On-Air</h1>
            <h2 class="subheader text-center">The CMS for podcast networks.</h2><!-- /.subheader -->
            <a href="https://gum.co/on-air" class="btn button-pill centered">Buy a License</a>
          </div><!-- /.contain -->

          <div class="contain">
            <div class="header__screenshot">
              <img src="/uploads/on-air/product-image-1.png" alt="On-Air Dashboard" />
            </div><!-- /.grid-10 centered -->
          </div><!-- /.contain -->

        </section><!-- /.page__section bg-gray -->

        <section class="page__section section__quote bg-jazz">
          <div class="contain">
            <blockquote class="content__pullquote">
              <p>
                On-air does exactly what I need it to; it makes it easy for me to post and manage my shows. I couldn’t be happier with the system.
                <small><strong>Myke Hurley</strong>Co-Founder, Relay FM</small>
              </p>
            </blockquote><!-- /.pullquote -->
          </div><!-- /.contain -->
        </section><!-- /.page__section section__quote -->

        <section class="page__section section__features">
          <div class="contain features__row">
            <div class="grid-5 columns">
              <img src="/uploads/on-air/product-image-2.jpg" alt="" />
            </div><!-- /.grid-4 columns -->

            <div class="grid-7 columns">
              <h3>Add Shows Easily</h3>
              <p>Podcast networks are usually more than one or two shows. Adding new shows, and setting up RSS feeds that are compatible with iTunes, should be easy. On-Air let’s you upload artwork, add a description, add a host, add a producer, add a newsletter, and so much more.</p>
            </div><!-- /.grid-7 columns -->

          </div><!-- /.contain features__row -->

          <div class="contain features__row">

            <div class="grid-7 columns">
              <h3>Manage Guests, Hosts &amp; Admins</h3>
              <p>You’re a network owner, and posting shows for your hosts can get tiring. With On-Air, managing hosts and guests, is a breeze. You can quickly give each person different levels of access, and even display a publicly viewable page with their bio, shows they host, and guest appearances.</p>
            </div><!-- /.grid-7 columns -->

            <div class="grid-5 columns">
              <img src="/uploads/on-air/product-image-3.jpg" alt="" />
            </div><!-- /.grid-4 columns -->

          </div><!-- /.contain features__row -->

        </section><!-- /.page__section section__features -->

        <section class="page__section section__quote bg-jazz">
          <div class="contain">
            <blockquote class="content__pullquote">
              <p>
                The CMS built for Goodstuff took all the usual work that’s required to publish a podcast on the web and lets me focus on simply recording podcasts. Not having to worry about re-entering metadata through iTunes’ constantly changing interfaces, making sure links are saved properly during recordings or even that the MP3 file is in the right location on the web are all things I don't have to worry about thanks to the CMS built by Tim Smith.
                <small><strong>Chris Enns</strong>Co-Founder, Goodstuff Broadcasting, LLC.</small>
              </p>
            </blockquote><!-- /.pullquote -->
          </div><!-- /.contain -->
        </section><!-- /.page__section section__quote -->

        <section class="page__section section__features">
          <div class="contain features__row">

            <div class="grid-5 columns">
              <img src="/uploads/on-air/product-image-4.jpg" alt="" />
            </div><!-- /.grid-4 columns -->

            <div class="grid-7 columns">
              <h3>MP3 Metadata</h3>
              <p>Long gone are the days where you need to export your audio file, open it in iTunes or some other metadata editor, add artwork, author, your show name, etc. On-Air takes care of all the MP3 metadata while your file uploads. On-Air reads the file and finds out how long the episode is and the file size, then displays it nicely on the episode page.</p>
            </div><!-- /.grid-7 columns -->

          </div><!-- /.contain features__row -->

          <div class="contain features__row">

            <div class="grid-7 columns">
              <h3>Link Bookmarklet</h3>
              <p>Show notes and links are important for any podcast, and often can be the bane of the existence of many hosts. On-Air comes with a great bookmarklet that lets you easily add links to your episode. With one click, the bookmarklet will add the URL and title of the page you’re on, and if you’ve selected text, it’ll add that too.</p>
            </div><!-- /.grid-7 columns -->

            <div class="grid-5 columns">
              <img src="/uploads/on-air/product-image-5.jpg" alt="" />
            </div><!-- /.grid-4 columns -->

          </div><!-- /.contain features__row -->

        </section><!-- /.page__section section__features -->

        <section class="page__section bg-dark">
          <div class="contain text-center">
            <div class="grid-10 centered cta">
              <h4>Managing a podcast network can be a lot of work.</h4>
              <p>Publishing your great shows doesn’t have to be.</p>
              <a href="https://gum.co/on-air" class="btn button-pill centered">Buy a License</a>
            </div><!-- /.grid-10 columns centered -->
          </div><!-- /.contain text-center -->

          <div class="contain text-center">
            <div class="copyright">
              <small>Copyright &copy; {{ site.time | date: "%Y" }} Timothy B. Smith.</small>
            </div><!-- /.copyright -->
          </div><!-- /.contain text-center -->
        </section><!-- /.page__section -->

      </main><!-- /.main__content -->
  </body>
</html>
