---
layout: default
title: Designer, and front-end developer.
excerpt: Tim Smith is a designer, and front-end developer based in St. Paul, Minnesota.
---

<div class="home__header">
  {% include header.html %}
</div><!-- /.home__header -->

<section class="home__cover">
  <div class="cover__character">
    {% include tim-icon.html %}
  </div><!-- /.cover__character -->

  <div class="cover__about">
    <h1 class="about__title">Hello! I’m Tim Smith, a designer, developer, nerd, and recovering coffee addict.</h1><!-- /.about__title -->
    <p>I design and build web sites and applications. I made a podcasting CMS (Content Management System) that powers <a href="http://goodstuff.fm">Goodstuff FM</a> and <a href="http://relay.fm">Relay FM</a>, together with <a href="https://twitter.com/willmanduffy">Phil Duffy</a>. After work, I spend time with my wife, read comics, watch movies, and write <a href="http://theboldreport.net"><em>The Bold Report</em></a>.</p>
  </div><!-- /.cover__about -->
</section><!-- /.home__cover -->
