---
layout: resume
title: "Resumé"
permalink: /resume/
subhead: "Designer & Front-End Developer"
image: /uploads/2016/06/tim_4x3.jpg
---
<section class="main-column order--two">
  <p class="resume__statement">My name is Tim Smith, and I’m a designer, and front-end developer based in St. Paul, Minnesota. I like to bridge the gap between designers and back-end developers.</p>

  <p>I started out as a graphic designer back in 2009. Over time, I’ve found myself interested in writing front-end code. My eye for design helps me markup sites and interfaces the way designers intended.</p>

  <p>My ideal role allows me to create sites and interfaces by writing standards-based markup and CSS, foster collaboration between engineering and design teams, and help maintain or create a styleguide for UI components and front-end markup.</p>

  <h2 class="resume__heading">Experience</h2>
  <h3 class="resume__subheading"><strong>Designer and Front-End Developer</strong> at ACL Services, Ltd.</h3>
  <p class="resume__meta">April 2015&ndash;Present</p>
  <p>Worked on a team of designers to keep a consistent design language across various products. Help maintain a styleguide. Develop features within products of different technologies like Ruby on Rails, and Angular. Write about the design team’s process and how we solved problems.</p>

  <h3 class="resume__subheading"><strong>Designer and Founder</strong> at Anythin’ Goes LLC.</h3>
  <p class="resume__meta">September 2012&ndash;April 2015</p>
  <p>Managed the design &amp; development consulting business. Produced an award-nominated, online broadcast focused on design. Wrote and produced video screencasts.</p>

  <h3 class="resume__subheading"><strong>Director of Design</strong> at Rocket Lift Inc.</h3>
  <p class="resume__meta">Novemeber 2012&ndash;May 2013</p>
  <p>Lead design, front-end development, and internal marketing. Provided direction to hired designers. Responsible for the company’s rebrand.</p>

  <h3 class="resume__subheading"><strong>Designer</strong> at Lullabot</h3>
  <p class="resume__meta">March 2012&ndash;September 2012</p>
  <p>Helped Drupalize.me with content infrastructure and a redesign. Created wireframes and mockups for client projects. Wrote blog posts on design to help promote the company.</p>

  <h3 class="resume__subheading"><strong>Lead Designer</strong> at Bundly LLC.</h3>
  <p class="resume__meta">April 2011&ndash;October 2011</p>
  <p>Lead design of the user interface. Crafted personable body copy for the site and automated emails. Directed and advised the strengthening of the brand in different mediums.</p>

  <h2 class="resume__heading">Education</h2>
  <h3 class="resume__subheading"><strong>Palomar Community College</strong></h3>
  <p class="resume__meta">January 2006&ndash;May 2009</p>
  <p>Majored in Graphic Communications. Received a number of certificates. No degree.</p>
</section><!-- /.main-column -->

<aside class="resume__sidebar order--one">
  <h2 class="resume__heading">Skills</h2>
  <p>Design with a focus on web, and typography; front-end development with a focus on SCSS and CSS architecture; Git; presentational JavaScript (including jQuery and some CoffeeScript); some experience in Ruby, and PHP.</p>

  <h2 class="resume__heading">Side Projects</h2>

  <h3 class="resume__subheading"><strong>Writer</strong> of The Bold Report</h3>
  <p class="resume__meta"><a href="http://theboldreport.net/">theboldreport.net</a></p>
  <p>My writing place for design, development, technology, geek culture, Apple, and more.</p>


  <h2 class="resume__heading">Previous Projects</h2>
  <h3 class="resume__subheading"><strong>Acquisitions Editor</strong> at A List Apart</h3>
  <p class="resume__meta"><a href="http://alistapart.com">alistapart.com</a></p>
  <p><em>A List Apart</em> explores the design, development, and meaning of web content, with a special focus on web standards and best practices.</p>

  <h3 class="resume__subheading"><strong>Host</strong> of The East Wing</h3>
  <p class="resume__meta"><a href="http://goodstuff.fm/theeastwing">goodstuff.fm/theeastwing</a></p>
  <p>A weekly talk show featuring the best of the internet.</p>
</aside><!-- /.side-column -->
