<header class="site__header">
  <div class="site__branding">
    <a href="/">
      {% include icons/icon-supersmith.html %}
    </a>

  </div><!-- .site__branding -->

  <nav class="main__navigation">
    <ul>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/resume/">Resumé</a></li>
    </ul>
  </nav>
</header>
