<div class="funding">
  <div class="progress">
    <span class="meter" style="width: 3%"></span>
  </div><!-- /.progress radius -->

  <ul class="funding-info">
    <li><strong>3%</strong><small>funded</small></li>
    <li><strong>7</strong><small>members</small></li>
    <li><strong>$110/month</strong><small>raised out of $3,600 <span class="currency">usd</span> goal</small></li>
  </ul><!-- /.funding-info -->
</div><!-- /.funding -->
