<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 303.6 537.2" style="enable-background:new 0 0 303.6 537.2;" xml:space="preserve">
<style type="text/css">
  .st0{opacity:0.1;}
  .st1{fill:#FFDB0B;}
  .st2{fill:#E8C09B;}
  .st3{fill:#1F171A;}
  .st4{fill:#CF9E78;}
  .st5{fill:#231F20;}
  .st6{fill:#B3886B;}
  .st7{fill:#CA8C84;}
  .st8{fill:#AF7874;}
  .st9{fill:#FFFFFF;}
  .st10{fill:#CB0700;}
</style>
<path class="st0" d="M276,524.6c0,7-59.2,12.6-132.2,12.6c-73,0-132.2-5.6-132.2-12.6c0-7,59.2-12.6,132.2-12.6
  C216.8,512,276,517.6,276,524.6z"/>
<polygon points="92.6,393.7 178.3,389.7 175.3,511.2 167.9,510.5 169.8,434 103.6,428.6 101.8,510.5 92.6,510.5 "/>
<g>
  <path class="st1" d="M185.6,343.6c0,0,90-34,89.5-90.6l-9.8-1.5c0,0-3.8,54.7-92.1,64.1"/>
  <path class="st1" d="M97.3,309.2c0,0-95.5,63.6,3.2,104.4l0-7.9c0,0-71.5-32,4.9-80.6"/>
  <polygon class="st1" points="183.1,421 190.7,296.5 79,300.5 89.9,417.4  "/>
</g>
<path class="st2" d="M274.1,259.4c3.2,1.8,7.3,1.1,9.1-1.6c1.8-2.7,6.3-5,10-5.1l3.6-0.1c3.7-0.1,6.7-2.6,6.8-5.6
  c0.1-3-2.8-4.9-6.5-4.3l-4.6,0.7c-3.6,0.6-5-1.5-3.1-4.6l6.3-10.3c1.9-3.1,1.4-7.1-1.2-8.9c-2.6-1.7-6.1-0.5-7.9,2.7l-5.9,10.5
  c-1.8,3.2-3.2,2.8-3-0.9l0.2-7.5c0.1-3.7-1.8-7-4.2-7.4c-2.4-0.4-4.6,2.3-4.9,5.9l-0.9,14.8c-0.2,3.7-2.6,4.9-5.3,2.8
  c-2.7-2.1-6.4-1.8-8.4,0.6c-2,2.4-1,5.9,2.2,7.8L274.1,259.4z"/>
<g>
  <path d="M175.5,511.1c0,0,6.3,10.1,21.6,10.1l0.4,3.1c0,0-19.6,1.6-25.5-7.8l0.4,7.2l-6.5-0.7l2-13L175.5,511.1z"/>
  <path d="M93.6,510.2c0,0-7.8,10.4-24.4,9.1l-0.7,3.4c0,0,21.2,3.4,28.4-6.3l-1.1,7.8l7.2-0.2l-1.1-14.3L93.6,510.2z"/>
</g>
<path class="st3" d="M212.3,230.4c0,0,6.6-24.8,4.1-33.1c-2.5-8.3,0-3.3,0-3.3s22.4-34.8,14.9-62.9l5,2.5c0,0-1.7-19-12.4-24
  c0,0,11.6-1.7,14.9,0c0,0,0.8-34.8-28.1-46.3c0,0,10.9,0.8,14.2,3.1c3.3,2.4-0.5-1.9-0.5-1.9S208.9,40.9,183,46.1
  c0,0,6.6-9.9,8.5-9.9c0,0-13.6,2.8-15.1,5.6c0,0-3.8-9.4,1.9-14.6c0,0-8.5,6.6-10.4,10.8c0,0-2.8-28.2,3.8-37.6
  c0,0-12.2,20.2-12.2,25.9c0,5.6-5.2-20.2-12.7-25.9c0,0,6.1,24,3.3,26.8c0,0-11.8-25.4-15.1-27.3c0,0-2.8,24-5.7,27.3
  c-2.8,3.3-6.6-13.7-22.6-13.7c0,0,12.2,9.9,12.2,15.1c0,0-32.5-12.7-48.9-2.4c0,0,18.8-1.4,20.2,1.4c0,0-39.5,0.9-56.5,22.1
  c0,0,13.6-7.5,18.8-7.1c0,0-30.1,16-42.3,49.4c0,0,6.1-5.2,13.2-6.1c0,0-23.5,28.2-23.5,62.1c0,0,0.5-8,7.1-13.2
  c0,0-2.4,36.7,3.8,43.8c0,0-1.4-9.4,0.9-11.8c0,0,21.6,32.9,20.2,56L212.3,230.4z"/>
<path class="st2" d="M208.5,156.8c0,0,8.4-21.2,26.7-9c22.9,15.3-12.1,32.3-12.1,32.3s-11,5.5-5.1,17.5c5.9,11.9,6.5,16.5,2.4,18.6
  c-4.1,2.1-13.6-0.8-14.9-8.2C199.7,176,208.5,156.8,208.5,156.8z"/>
<path class="st2" d="M37.8,168.6c0,0-8.8-22.2-27.9-9.3c-23.9,16,12.6,33.7,12.6,33.7s11.5,5.8,5.4,18.3
  c-6.2,12.5-6.8,17.2-2.5,19.5c4.3,2.2,16.9-1.9,18.3-9.6C49.8,187.6,37.8,168.6,37.8,168.6z"/>
<g>
  <path class="st4" d="M36.5,192c0,0-13.2-44.5-17.2-11.1C19.2,180.9,25,162.7,36.5,192z"/>
  <path class="st4" d="M36.6,192.1c0,0-10.4-22.6-8.6,5.2C28,197.3,28.6,179.7,36.6,192.1z"/>
</g>
<path class="st2" d="M220.7,200.8c2.4-11.2,4.2-25,1.5-32.8c-3.8-35.8-17.6-103.7-17.6-103.7L32.9,83.1
  c-26.9,80.3,4.2,99.4,4.2,99.4s2.8,18,5.9,35.6c-6.6,17.6-31.1,97.4,62.8,108.8c9.8,5,20.5,8.7,31.5,9.2c11.2,0.6,27-2.4,36.2-9.1
  c4.2-3,7.7-6.8,10.6-11l0,0.1C270.1,291,225.7,209.5,220.7,200.8z"/>
<path class="st5" d="M141.8,130.3c0,0,48.5-35.4,73.7,3l-4,8.7c0,0-23.3-27.9-67.7-5.7L141.8,130.3z"/>
<path class="st5" d="M101.5,117.8c0,0-54.6-24.9-71.6,17.8l5.6,7.7c0,0,17.2-32,65.2-19.1L101.5,117.8z"/>
<path class="st4" d="M110,221.5c0,0,30.1,37.5,56.1-3.8C166.1,217.6,135.3,237.5,110,221.5z"/>
<path class="st6" d="M122.2,150.4l-0.8-0.5c6.6-10.2-4.4-30-4.5-30.2l0.8-0.5c0,0.1,2.9,5.1,4.8,11.4
  C125.2,139.3,125.1,145.9,122.2,150.4z"/>
<path class="st6" d="M129,149.8c-2.9-4.5-3-11.1-0.4-19.7c2-6.3,4.8-11.4,4.8-11.5l0.8,0.5c-0.1,0.2-11,19.9-4.4,30.2L129,149.8z"/>
<path class="st7" d="M93.3,270.3c0,0,19.4-34.5,59.8-11.7c0,0,15.9-17.5,42.3-8.9C195.4,249.6,175.4,342.8,93.3,270.3z"/>
<path class="st8" d="M195.4,249.6c-27.1-18.2-45.4-0.9-45.4-0.9c-36.2-6.2-56.7,21.6-56.7,21.6s66,16,101.4-20L195.4,249.6z"/>
<path class="st6" d="M186.4,236.2c0,0,19.1,0.9,14.8,20.8C201.2,257.1,213.3,231,186.4,236.2z"/>
<path class="st6" d="M94.1,277.9c0,0-14.2-1.4-10.2-16.1C83.9,261.8,73.9,280.7,94.1,277.9z"/>
<polygon class="st3" points="220.9,148.6 217.7,151.9 200.1,86.3 156.1,85.5 161.1,78.8 137,87.1 140.3,83 89.6,91.3 97.9,83.8
  64.7,93 69.7,87.1 34,95.4 39.8,89.6 27.3,98.8 26.5,126.2 26.5,155.3 29.8,164.4 25.7,164.4 20.7,151.9 24,96.3 35.6,63 58.9,62.2
  107.9,58.9 147.8,51.4 179.4,53.1 200.1,58.1 216.8,78 223.4,127 "/>
<path class="st4" d="M128,312.1c0,0,14-12.8,31.8-0.6C159.9,311.6,144.8,302.6,128,312.1z"/>
<path class="st4" d="M105.4,326.7c0,0-6.4-4.8-9.7-10.2c0,0,0.8,7,7.7,10.1L105.4,326.7z"/>
<g>
  <path class="st9" d="M142,149.3c-5.1,0.7-8.5,5.4-7.6,10.5l7.3,39.3c0.9,5.1,5.9,8.8,11,8.3l70.6-6.7c5.1-0.5,8.8-5.1,8.2-10.2
    l-5.4-43.3c-0.6-5.1-5.3-8.7-10.4-8L142,149.3z"/>
</g>
<g>
  <path class="st9" d="M39.3,152.4c-5.1,0.2-9.1,4.6-8.8,9.7l2.3,39.7c0.3,5.1,4.8,9.3,9.9,9.4l70.9,0.2c5.1,0,9.4-4.2,9.4-9.3
    l0.1-43.6c0-5.1-4.2-9.2-9.3-9L39.3,152.4z"/>
</g>
<path class="st10" d="M110.6,215.6L110.6,215.6L110.6,215.6l-64.8-0.2c-9.3,0-17.3-7-17.8-15.6l-2.1-35.5c-0.2-4.2,1.3-8.2,4.4-11.4
  c3.1-3.1,7.3-4.9,11.8-5.1l68.3-2.7c4.7-0.2,9.2,1.4,12.5,4.4c3.1,2.9,4.8,6.7,4.8,10.8l-0.1,39.3
  C127.7,208.6,120,215.6,110.6,215.6L110.6,215.6z M111.2,153.8l-0.3,0l-68.3,2.7c-2.1,0.1-3.9,0.9-5.3,2.3c-1.4,1.4-2.1,3.2-2,5.1
  l2.1,35.5c0.2,4,4.1,7.4,8.5,7.4l64.7,0.2l0,4.3V207c4.3,0,7.8-3.2,7.8-7.2l0.1-39.3c0-1.8-0.7-3.5-2.1-4.7
  C115,154.5,113.1,153.8,111.2,153.8L111.2,153.8z"/>
<path class="st10" d="M154.5,211.4L154.5,211.4c-8.7,0-16.3-5.9-17.8-13.8l-6.5-35c-0.8-4.2,0.3-8.3,3-11.7
  c2.7-3.4,6.6-5.6,11.2-6.3l67.6-9.3c9.5-1.3,18,4.9,19.1,13.5l4.8,39.1c0.5,4.2-0.8,8.3-3.6,11.6c-2.9,3.3-6.9,5.3-11.5,5.8
  l-64.4,6.2C155.7,211.4,155.1,211.4,154.5,211.4L154.5,211.4z M214.5,143.7c-0.4,0-0.8,0-1.1,0.1l-67.6,9.3c-2,0.3-3.8,1.3-5,2.8
  c-1.2,1.5-1.7,3.4-1.3,5.2l6.5,35c0.7,3.7,4.5,6.6,8.6,6.6l0,0c0.3,0,0.5,0,0.8,0l64.4-6.2c2-0.2,3.9-1.1,5.2-2.6
  c1.3-1.5,1.9-3.3,1.6-5.2l-4.8-39.1C221.3,146.3,218.2,143.7,214.5,143.7L214.5,143.7z"/>
<polygon class="st10" points="122.7,179.4 137,177.7 139.2,189.6 123,190.7 "/>
<rect x="104.2" y="178.5" class="st5" width="11.7" height="10.5"/>
<rect x="146.8" y="175.9" class="st5" width="11.7" height="10.5"/>
<path class="st4" d="M40.1,227c0,0,2.9-1.7,4.4-5.4c0,0-0.5,9-6.4,12.2C38.1,233.8,39.3,229.2,40.1,227z"/>
<path class="st4" d="M217.7,217.1c0,0-4,0.5-5.6-3c0,0,1.9,6.1,7.3,6.1L217.7,217.1z"/>
</svg>
