<svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="38 -38 100 100" style="enable-background:new 38 -38 100 100;" xml:space="preserve">
  <g class="supersmith-icon">
    <path class="left-supersmith" d="M42.3,22.4c0.7-0.3,1.5-0.5,2.3-0.7c0.8-0.2,1.5-0.3,2.3-0.4c2-0.3,4.1-0.3,6,0.1c2,0.4,3.7,1.2,5.2,2.6
      c0.7,0.6,1.2,1,1.5,1.3c0.3,0.3,0.4,0.5,0.5,0.7c0,0.1,0,0.2-0.1,0.3s-0.3,0.3-0.6,0.5c-0.3,0.2-0.7,0.6-1.1,1.1
      c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.2-0.5,0.4c-0.9,0.9-1.7,2-2.4,3.3c-0.8,1.3-1.1,2.5-1.2,3.8c0,0.8,0,1.6,0,2.4
      s0,1.5,0.1,2.2c0.9,5.3,3.5,9,7.9,11.1c4.4,2,9,2.7,14,2c0.2,0,0.4-0.1,0.6-0.1s0.4-0.1,0.6-0.1c4.5-0.9,8.6-2.8,12.3-5.7
      c3.6-2.9,5.8-6.8,6.3-11.7c0.1-0.8,0.3-2.1,0.3-2.7s-0.2-0.8-0.3-1.5c-0.6-3.9-2.5-7.1-5.8-9.7c-3.3-2.5-6.9-4.9-10.7-7.1
      c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1-0.1-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1,0-0.1-0.1-0.2,0c-4.6-2.6-8.8-5.5-12.7-8.6
      c-3.9-3.2-6.3-7.4-7.1-12.7C58.3-8.5,58-8.7,58-11c0-1.4,0.5-3.2,0.8-4.8c1-5.7,4.3-10.5,9.8-14.3c5-3.4,10.3-6,16.1-7.9
      C58.6-36.2,38-14.5,38,12c0,4.1,0.5,8,1.4,11.8C40.3,23.3,41.3,22.8,42.3,22.4z"/>
    <path class="right-supersmith" d="M125.7-20.9c-0.5,0.7-1.1,1.3-1.8,1.8c-1.9,1.5-4.1,2.5-6.5,3c-0.2,0-0.4,0.1-0.5,0.1s-0.3,0-0.5,0.1
      c-0.7,0.1-1.3,0.1-2,0.1s-1.3,0-1.9,0c-0.7-0.1-1.4-0.3-2.2-0.5c-0.7-0.2-1.5-0.5-2.2-0.8c-0.4-0.1-0.8-0.3-1.1-0.4
      c-0.3-0.2-0.7-0.3-1.1-0.4c0.5-0.5,1-0.9,1.4-1.2c0.4-0.4,0.8-0.7,1.1-1.1c0.5-0.5,0.9-1,1.2-1.7c0.3-0.6,1.1-1.7,1.3-2.9
      c0-0.4,0.1-0.8,0.1-1.1c0-0.4,0-0.7,0-1c-0.4-2.4-2.5-3.9-5.1-4.9s-5.3-1.3-8.1-1c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0-0.2,0
      c-2.4,0.4-4.7,1.2-6.7,2.6c-2,1.3-3,2.9-3.5,5.3c0,0.4-0.1,0.8-0.1,1.1c0,0.4,0,0.7,0,1.1c0.4,1.8,1.1,3.7,2.7,5.1
      c1.6,1.4,3.3,2.6,5,3.6c0.9,0.5,1.7,0.9,2.4,1.3s1.4,0.7,2.1,1c0.6,0.3,1.3,0.7,2,1c0.7,0.4,1.4,0.7,2.2,1
      c5.2,2.8,10.1,6.1,14.6,9.9c4.6,3.8,7.3,8.9,8.3,15.3c0.2,1.6,0.3,3.2,0.3,4.8c-0.1,1.7-0.2,3.4-0.6,5.4
      c-1.6,8.6-6.7,15.9-15.1,21.9c-8.5,6-17.8,10.2-28.1,12.5c-1.1,0.3-2.1,0.5-3.2,0.7c-0.5,0.1-1,0.2-1.4,0.3
      c3.1,0.6,6.4,0.9,9.7,0.9c27.6,0,50-22.4,50-50C138-0.6,133.3-12.1,125.7-20.9z"/>
  </g>
</svg>
