---
layout: post
title: My Article on The Student's Guide To Web Design
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.studentguidewebdesign.com/set-yourself-up-right/
alias: /links/my-article-on-the-students-guide-to-web-design
hidden: true
---
<p>I had been talking with <a href="http://www.jannahagan.com/">Janna</a> about writing for her blog since June. I had been so busy that I just didn't have the time to sit down and write something (or maybe it was lack of inspiration? I don't know). Finally, last week I sat down and was able to write close to 800 words on <em>setting yourself up right</em>. I'm really happy and excited about this article.</p>
