---
layout: post
title: New Episode of The East Wing with Aaron Irizarry and Adam Connor
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/23-aa
alias: /links/new-episode-of-the-east-wing-with-aaron-irizarry-and-adam-connor
hidden: true
---
<p>I got the chance to record with <a href="http://www.thisisaaronslife.com/">Aaron Irizarry</a> and <a href="http://adamconnor.com/">Adam Connor</a>. It was a really awesome conversation about design critique and was über educational for me and I hope it is for you too.</p>
