---
layout: post
title: Silicon Valley Can Suck It
categories:
- articles
tags:
- opinions
- Silicon Valley
- start ups
status: publish
custom_type: post
published: true
alias: /articles/silicon-valley-can-suck-it
---
<p>You might hear me complain about how much I dislike start ups and the Silicon Valley culture. I seem to tweet about it a lot and I have private conversations with friends about it. I thought I'd write to try and organize my thoughts.</p>

<p>I think the reasons I dislike start up culture come down to two things. It's detached and not personal, and I feel it's downright douchey most of the time.</p>

<h2>Detached and Not Personal</h2>

<p>This is my biggest gripe against startups and venture capitalists. It's very detached. There is a common saying that goes, "It's not personal, it's business". Although I mostly agree with these words, I feel like there needs to be a little bit of a personal element.</p>

<p>Too many companies throw the needs of their users away for the money that the guys with big pockets can throw at them. These companies aren't solving people problems, they're coming up with ideas that get them funded. It might seem like the same thing, but it's not. I know that money pays the bills as much as the next guy but the start up culture promotes making billions, not doing what you love and living with what's necessary.</p>

<p>It's amazing to me that people covet having millions of dollars, a downtown loft and private jets. Everything comes at a price and those who live that life are empty, work most of the time, and don't have meaningful human relationships.</p>

<h2>It's Downright Douchey</h2>

<p>I don't care if your buddy is the ex-co-founder of Twitter. Don't talk to me about pivoting and please don't tell me your idea is the Facebook &amp; Netflix of mommy blogging.</p>

<p>Being an entrepreneur used to mean something. Entrepreneurs were innovators. They weren't content with the way things were and dreamt of new and better ways to do them; it wasn't something you could just put in your Twitter bio and it certainly didn't give you license to be a douche.</p>

<p>Sure, I like to make things. Yes, I might not always think about my products all the way through. I may never be rich. But, damn it, I will have had fun. I will have had passion for the things I get involved in and I will love my family and my friends to the death.</p>

<p>So, I invite you to make business personal again. Have fun. Be nice. Do what you love and make sure you have time for the important people in your life. Money makes no one happy and I'm pretty damn sure "pivoting" doesn't either.</p>

<h5>Further Reading</h5>
<p><a href="http://blog.jolieodell.com/2010/10/01/youre-not-an-entrepreneur/">You're Not an Entrepreneur</a> (Via <a href="https://twitter.com/mattepp/">@mattepp</a>)</p>
