---
layout: post
title: New East Wing Episode with Sam Soffes
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/22-sam
alias: /links/new-east-wing-episode-with-sam-soffes
hidden: true
---
<p>I sat down with <a href="http://samsoff.es/">Sam Soffes</a>, the creator of <a href="https://cheddarapp.com/">Cheddar</a>. It was awesome! Sam is a real down to earth guy. We talk about Cheddar, retiring at 25 and his consulting rate among other things.</p>
