---
layout: post
title: Fresh New Look!
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/fresh-new-look/
hidden: true
---
<p>So, I’ve got a brand new site... again. It almost seems that I’m redesigning this crap too much. But, the truth is, there are always better ways to solve problems and I strive to do that with all of my work, even my personal stuff. With that said, the site I had up before honestly looked a bit amateurish. I don’t know what I was thinking. I mean, it did only take about two hours to design and code it up so, that might explain things a bit. Either way, moving forward, there were a couple of things I wanted to get better at.</p>

<h3>My Work</h3>

<p>Unfortunately, a lot of work that I’ve done is restricted by NDA’s and that’s all great when you’re working on these exciting projects but, when it comes time to display them, it’s horrible. Therefore, at the moment I can only show snippets of my work for which <a href="http://dribbble.com/timothybsmith" target="_blank">Dribbble</a> has been super useful. For now, that won’t change. But the truth is though, my design isn’t the only thing I’m working on at the moment. I have a pretty cool podcast called <a href="http://laughifyouwanttoo.com" target="_blank">Laugh If You Want Too</a> and a soon to be podcast called <a href="http://theeastwing.net" target="_blank">The East Wing</a> which is going to be awesome.</p>

<p>Having said that, I wanted this new design to give people the opportunity to see all of my stuff. I know I’m no internet celebrity but, if you’re interested, now you can find it. Which reminds me &lt;rant&gt; I’m no internet celebrity and I probably will never be but, why can’t people reply to tweets of us unknown peeps? I don’t get it. Maybe you’re too busy or you don’t care for the people that admire your work. Who knows. One thing is true though, if you want to talk and interact with me, I’ll always reply. To know who you are, you gotta know where you came from. &lt;/rant&gt;</p>

<h3>Writing Again</h3>

<p>I’m happy to report that my writing juices seem to be flowing again which is why I dedicated more time to the design of this site. I want to have somewhere to pour some of my thoughts. As I grow as a designer and a person, I find it essential to share the small bits of wisdom you find along the way. Again, it may not be a lot; I still have much to learn in design and in life but, I’ll always be thankful to those that helped me when I was starting out. It’s about time I pay that forward.</p>

<h3>Thank You</h3>

<p>I just want to extend a huge thank you to those whom have supported me and have been interested in the different things I do. I also want to extend a thank you to <a href="http://www.andytlr.com/" target="_blank">Andy Taylor</a>, the creator of the <a href="http://cssgrid.net/" target="_blank">1140px CSS Grid</a>; it’s the reason why making this site responsive was a cinch! Check it out if you haven’t already! Also, I big thank you to <a href="http://kennedysgarage.com/" target="_blank">Kennedy</a>, who took me out of a bind and helped me figure out how to change the color of a placeholder in a form.</p>

<p>Also, you’ll notice that this blog is proudly brought to you by <a href="carbonads.net" target="_blank">Carbon Ads</a>. Adelle and her team are awesome and always on the look out for great companies for their network. Do yourself a favor and click on some of these ads. Yes, you’d be helping me make some money, but you’d be getting in some awesome products as well.</p>

<p>As always, thank you for reading and if you have thoughts you’d like to share, give me a shout on <a href="http://twitter.com/timothybsmith" target="_blank">Twitter</a>.</p>
