---
layout: post
title: 'My Thoughts on Insites: The Book'
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/my-thoughts-on-insites-the-book
hidden: true
---
<img src="{{ site.url }}/uploads/2012/10/insites-cover.png" alt="The Cover of Insites: The Book" />

<p>I had the absolute pleasure of receiving my copy of <em>Insites: The Book</em> in the mail yesterday. I was excited to take it out of its packaging and delve into what turned out to be some fantastic reading (but, I'll get to that in a moment).</p>

<p>The care, love and absolute craftsmanship that has gone into creating this beautiful book is outstanding and deserves praise. Not only does the book smell fresh off the press, the stock, and type and imagery within are beautiful. I admire the work that Elliot and Keir have done. It's a showcase of attention to detail. As someone very interested in the work that goes into creating a print publication, I can't begin to imagine all the difficult design decisions that were made for this book.</p>

<h3>On The Inside</h3>

<blockquote>
  <p>Though their backgrounds are diverse, there's one trait our contributors all share: the love what they do. From that love springs their trademark craftsmanship and relentless curiosity. Their passion is what we appreciate about their work, and in turn, it's what we appreciate about them.
  <small>Aarron Walter</small></p>
</blockquote>

<p>Now let's talk about the content. The interviews and spectacular pieces by <a href="http://aarronwalter.com/">Aaron Walter</a> and <a href="http://blog.fictivecameron.com/">Cameron Koczon</a> truly resonate with me. The people interviewed are of amazing success and it's great to read something with such an inspiring and coherent theme. Every single one of these people have chosen to do what they love and to create new things with love. It's this motivation which has created Brooklyn Beta, A Book Apart, Creative Mornings and more.</p>

<p>Personally, it engraved in my mind that I should be creating things with this same incentive. As Cameron states in his foreword, it's the way we add depth to our online community; the way we extend beyond our small avatars and 160-character bios. I for one, am very happy to be part of this group of caring and smart people.</p>

<p>If you haven't already, you should <a href="http://shop.viewportindustries.com/products/insites-the-book">order your copy</a>.</p>
