---
layout: post
title: The Real Reasons You’re Working So Hard...
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.businessweek.com/magazine/content/05_40/b3953601.htm
alias: /links/live-to-work
hidden: true
---
<blockquote>
<p>More than 31% of college-educated male workers are regularly logging 50 or more hours a week at work, up from 22% in 1980. Forty percent of American adults get less than seven hours of sleep on weekdays, reports the National Sleep Foundation, up from 31% in 2001.
<small>Bloomberg Business Week</small></p>
</blockquote>

<p>I was doing research for a talk I'll be giving in June titled, <a href="http://www.meetup.com/UX-Speakeasy-San-Diego/events/59904042/" target="_blank">Work to Live, Don't Live to Work</a>, and I found these statistics very interesting. To tell you the truth, it doesn't surprise me in the least. The fact of the matter is this: There are only 24 hours in a day and if you're using more hours for work, what more important things are you missing out on? The full article has a wealth of information and if you're in the San Diego area, you should come see my presentation!</p>
