---
layout: post
title: I Put Comments on My Site
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/i-put-comments-on-my-site
hidden: true
---
<p>Yup. That's right. I put comments on here. I'm actually kind of excited about it. Jason Van Lue wrote a great small post the other day on <a href="http://journal.jasonvanlue.com/post/26438772365/write">writing</a>. He's a new guy I've been following after his great talk at the Front-End Design Conference. The part I found especially interesting was this:</p>

<blockquote>
  <p>In this digital age not only is it incredibly easy to put the proverbial pen to paper, but the barrier for ‘acceptable’ writing is much lower. It’s a time where 140 characters is the norm, so don’t hesitate just because you’re not the ‘best writer’.</p>
</blockquote>

<p>For me, that's always been what stops me. There are a myriad of more talented and skilled writers than me. Hell, they could probably express what I'm thinking better than my own self. Yet, I've seen that writing is therapeutic and in fact, gets me to delve deeper into topics and really think about them on another level.</p>

<p>Anyway, this is a really long way of saying that as you've noticed, I'm writing more here and hope you'll join in on the conversation. I also want to take this opportunity to urge you to write. Our industry thrives because there are always people willing to share what they learn and I hope you're having a part in that too.</p>
