---
layout: post
title: Constructive Criticism
categories: links
status: publish
custom_type: link
published: true
custom_url: https://www.lullabot.com/articles/constructive-criticism
alias: /links/article-on-lullabot
hidden: true
---

<blockquote>
<p>We're at a time where technology is moving a lot faster than we can sometimes design for. That means we'll make mistakes. We'll have content that we don't know how to deliver on every device.</p>
</blockquote>

<p>I wrote my first article on the Lullabot Blog! It's on Constructive Criticism. I find that this trend to publicly shame people about the work they're doing is wrong and isn't the way to make the web a better place. It's a quick read; something small you can digest during a break in your work day. Hope you enjoy!</p>
