---
layout: post
title: Successful Product Launches
categories: links
status: publish
custom_type: link
published: true
custom_url: http://bokardo.com/archives/what-you-should-know-before-you-launch-your-product/
alias: /links/successful-product-launches
hidden: true
---
<blockquote>
  <p>Just like an Olympian can’t know if they’re going to win a medal without actually performing on game day, you can’t know if your product is going to be a success in the market without actually releasing it to the market.</p>
</blockquote>

<p>That's a sentence I wholeheartedly agree with. In his article, Joshua goes on to explain information that can be gathered about your product before it launches and I agree with that as well. However, it's been my experience that people tend to over analyze things. I've been on both sides of the spectrum where in one case, too much pre-launch work was being done where we should've had a priority to ship, and another where we should've waited to launch.</p>

<p>It's difficult to find the balance but, I know there is one. My pal Jared Erondu <a href="http://twitter.com/erondu/status/262010897319481345">tweeted</a> the other day that it's vital to believe in the product your building. There comes a point where I feel a team thinking and re-thinking the different aspects of a product starts to feel like a lack of faith. That's the moment where you either fire them or, you get out. At least personally, I'd rather start generating income and being paid to improve an already launched product than sit on it for months and realize it's been headed in the wrong direction.</p>
