---
layout: post
title: The French Press Experience
categories: videos
status: publish
custom_type: video
published: true
video-embed: <iframe src="http://player.vimeo.com/video/40980282" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
alias: /videos/the-french-press-experience
hidden: true
---
<p>My pal <a href="https://twitter.com/mettamatt">Matt Westgate</a> introduced me to this video. It's brilliantly hilarious.</p>
