---
layout: post
title: New Episode of The East Wing with Kerem Suer
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/36-kerem
alias: /links/new-episode-of-the-east-wing-with-kerem-suer
hidden: true
---
<p>I got the awesome pleasure of talking with <a href="http://kerem.co/">Kerem Suer</a> this week on The East Wing. He's such a smart and talented guy and we got to talk about college, his work at Fitbit and more.</p>
