---
layout: post
title: ShopTalk Show with Me
categories: links
status: publish
custom_type: link
published: true
custom_url: http://shoptalkshow.com/episodes/047-with-tim-smith/
alias: /links/shoptalk-show-with-me
hidden: true
---
<p>I was so honored to be on <a href="http://shoptalkshow.com/">ShopTalk Show</a> last week! It was such a blast recording with Chris and Dave. We talk about the weeks hot drama, what's going on with Make Awesome and more!</p>
