---
layout: post
title: Jason Santa Maria on Saying No
categories: videos
status: publish
custom_type: video
published: true
alias: /videos/jason-santa-maria-on-saying-no
hidden: true
video-embed: <iframe src="http://player.vimeo.com/video/53155584?byline=0&amp;badge=0"
    width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen
    allowFullScreen></iframe>
---
<p>This is an amazing talk by <a href="http://jasonsantamaria.com/">Jason Santa Maria</a> on saying no. His reasoning is sound and it's the type of video that inspires you again about what you're doing and the decisions you're making.</p>
