---
layout: post
title: Support Make Awesome on Kickstarter! Pretty Please?
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine
alias: /links/support-make-awesome-on-kickstarter
hidden: true
---
<img src="{{ site.url }}/uploads/2012/10/kick-lead.png" alt="Post Lead Image" />

<p>I'm so excited to announce that we launched the Kickstarter campaign for <a href="http://makeaweso.me">Make Awesome</a> today! I've shot and reshot the video tons of times and finally I had to just be happy with it. I've been doing a lot of behind the scenes work and I'm anxious to see if people believe in the idea as much as I do.</p>

<p>At the moment, we already have some amazing contributors like <a href="https://twitter.com/higley">John Higley</a>, <a href="https://twitter.com/Eecho13084">Abby Barlok</a>, <a href="https://twitter.com/Spentacular">Spencer Hamm</a>, <a href="http://twitter.com/jglovier">Joel Glovier</a>, <a href="http://twitter.com/eaton">Jeff Eaton</a> and more to come. Like I've said before, we've confirmed three of four interviews with <a href="http://twitter.com/_jannalynn">Janna Hagan</a>, <a href="http://twitter.com/vic_bell">Vic Bell</a> and <a href="https://twitter.com/samsoffes">Sam Soffes</a>.</p>

<p>If you'd like more up-to-date info, <a href="http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine">back the project</a> to get the amazing weekly updates!!</p>
