---
layout: post
title: Pro Designers have their say on Facebook
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.creativebloq.com/web-design-tips/industry-insight-facebook-design-1234007/
alias: /links/pro-designers-on-facebook
hidden: true
---
<blockquote>
<p>Personally, I’d love to get my hands on the Facebook UX and UI. There’s so many things I feel could be improved upon, but I’m sure they stay the same because they work towards the intended goals and purposes of Facebook very well.</p>

<p>Some of the top designers reside at Facebook at the moment so there must be solid reasoning behind why elements work the way they do...
<small>Sarah Parmenter</small></p>
</blockquote>

<p>I really liked this post on the Creative Bloq and I love <a href="http://www.sazzy.co.uk/">Sarah's</a> answer. The truth is, it's so easy to go around saying that an interface could be more polished. Personally, I'd love to see the amazing that Sarah would do with Facebook (would it be pink?). I, like most people, am not really happy with what's been happening with the Facebook UI. However, as Sarah points out, no one knows better than the designers that actually work there what the goals and purposes are behind the design decisions. In my humble opinion, that might be something we don't always agree with but must respect.</p>
