---
layout: post
title: Special 2012 End of the Year Address
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/special-2012-end-of-the-year-address
hidden: true
---
<p>I'll be honest, I loved the <a href="http://5by5.tv/specials/10">State of the Union Address</a> that Dan Benjamin did on 5by5. It was so personal and I think that's why so many people love Dan. I had been thinking of doing something similar to thank everyone listening to The East Wing in our first year.</p>

<p>I can't believe how quick these past 10 months have gone and the huge support we've received. For me, a person that doesn't have thousands of followers, it's amazed me to see the number of listeners rapidly increase every week.</p>

<p>You should <a href="http://theeastwing.net/episodes/2012-eya">take a listen</a>. It'll take two minutes of your time.</p>

<p><small>You can read the transcript <a href="http://onword.co/2074">here</a>.</small></p>
