---
layout: post
title: 'Freelancing: What I’ve Learned'
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/freelancing-what-ive-learned
hidden: true
---
<p>It's been 36 days since I began freelancing again. This time around, it's going a lot smoother and I've seen the practicality of working at companies and design agencies. I've had the privilege of working with some very smart people who thankfully have taken the time to impart some of their wisdom with me.</p>

<p>Many have labeled <a href="http://www.andyrutledge.com/advice-for-new-freelancers.php">Andy Rutledge</a> as a jerk for his advice on freelancing. Although I don't agree with him completely, I do see the value of his words now.</p>

<p>As I operate my business day to day, I'm noticing that I've become significantly better at a lot of things. However, like with everything, there are aspects that I'm still trying to get better at. This post is to look at the things I feel I'm doing right and others that, well, not so much.</p>

<h3>Shower When You Wake Up</h3>

<p>This sounds like an obvious one but, it's not. There are some people that shower every other day. For me, I shower everyday. When I worked full-time, I'd always shower at night.</p>

<p>I've seen a huge increase in my productivity when I shower in the mornings. Especially since I work from home, it could become to easy to roll out of bed and immediately sit down at my desk. In contrast, a good shower makes me feel fresh, awake and ready to get to work. I've only been doing this recently but, I've noticed that when I do, I feel really good about the day.</p>

<h3>Don’t Eat Junk Food</h3>

<p>This is one I haven't been doing so well. I've noticed an increase in my weight since I began freelancing because I'm not as cautious of the food I'm consuming. Junk food is not only bad for your health but, I've noticed that it makes me feel crappy about myself. Low self-esteem is no good for a designer or, therefore, anyone.</p>

<p>Recently, I've made a bigger effort to buy vegetables and fruit. I'm a big fan of apples and oranges which are great for you. Apples have some great antioxidants on the outside and are yummy. Oranges have a good dose of Vitamin C and I've noticed that when I make a habit of eating them, I get sick a lot less.</p>

<h3>Wake Up A Bit Earlier</h3>

<p>Another one I haven't been great at but, getting better. My sleep schedule had me going to sleep at 2am and waking up at 11am (way past McDonalds breakfast. Doh! See last point). What would happen is I'd finish my normal work day around 8 or 9pm. For me this was really bad. I felt tired all the time and even though I was getting up late, I still felt I wasn't getting enough sleep.</p>

<p>This week, I decided to always be in bed by 12 and wake up at 8 and it's made a huge difference. I feel rested and ready to kick the day's butt. I also get coffee earlier and am suitably caffeinated for my commitments.</p>

<h3>Better Business Practices</h3>

<p><strong>Consult with an accountant!</strong> Do it! This is one of the biggest mistakes I made last time around. An accountant can help you figure out what type of entity you want to be and the proper procedures around quarterly tax payments. Use something like <a href="http://outright.com/">OutRight</a>. They make it easy to import your account and then categorize your expenses.</p>

<p><strong>No Scope Creep</strong> I had the tendency to price projects at a flat rate. When you sign a contract for a final payment of $5k, that's great, until you realize you invested about $6k in time. Bill hourly and make sure the complete scope of the project is in the contract! (Wait, don't have a contract? Get one!) Make it clear that any work beyond the scope will be billed at the hourly rate and to make sure, get all of those requests in writing so that you can prove they approved this extra work.</p>

<p><strong>Have a Contract</strong> This is necessary for any freelancer. I whole heartedly agree with <a href="http://muledesign.com/about/mike-monteiro/">Mike Monteiro</a> on this one. When asked when it's time to get a lawyer he said:</p>

<blockquote>
  <p>When you want to stop being a design amateur and be a design professional.</p>
</blockquote>

<p>However, as my next point will state, having a steady cash flow is one of the hardest things to create. So, with that in mind, I suggest you take a look at <a href="http://stuffandnonsense.co.uk/blog/about/contract_killer_the_next_hit/">Andy Clarke's</a> thoughts on this. He wrote up a very good contract that I still use for all of my clients.</p>

<p><strong>Creating a Steady Cash Flow</strong> I talk about this as something I seriously need to get better at. At the moment, I feel like I'm living too tight. As much as I've tried to keep my expenses down, I was used to a nice full-time salary. Although some offers do come through, not all of them turn into business.</p>

<p>For this point, I turn to you. What have you done to make this better? How do you go about saving money?</p>

<h3>Wrapping Up</h3>

<p>Well, I think that's it for now. There is so much to share but, I think small doses are better. Is there something I missed? Or something you'd like to read more about? Let me know and I'll do my best to write about it.</p>
