---
layout: post
title: Responsive Design Bookmarklet
categories: links
status: publish
custom_type: link
published: true
custom_url: http://responsive.victorcoulon.fr/
alias: /links/responsive-design-bookmarklet
hidden: true
---
<p>I stumbled across this bad boy because of <a href="http://lukesbeard.com/" target="_blank">Luke Beard</a> and I can't wait to see how this will help my development process. Until now, I had tested a couple of different tools and so far, none of them really worked like I'd like them to. You should check this out and let me know if you like it.</p>
