---
layout: post
title: Keeping It Realtime Conference
categories: links
status: publish
custom_type: link
published: true
custom_url: http://2012.krtconf.com/
alias: /links/keeping-it-realtime-conference
hidden: true
---
<img src="{{ site.url }}/uploads/2012/09/krtconf.jpg" alt="Keeping It Realtime Conference" />

<p>As you may already know, I recently changed jobs and am now working with the wonderful people at <a href="http://andyet.net/">&amp;yet</a>. Well, they throw this totally awesome conference called <a href="http://2012.krtconf.com/">The Keeping It Realtime Conference</a> which is place to learn all about realtime technologies. I'm so excited to be going out to Portland. You should come! Tickets are selling fast so, get one while you can!</p>
