---
layout: post
title: New Episode of The East Wing with Jeff Sheldon
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/33-jeff
alias: /links/new-episode-of-the-east-wing-with-jeff-sheldon
hidden: true
---
<p>I had the pleasure of having Jeff Sheldon on The East Wing this week. For those of you who don't know, Jeff Sheldon is the Founder of <a href="http://shop.ugmonk.com/">Ugmonk</a>. It was a lot of fun talking to him and seeing how much he's enjoying running Ugmonk. His story is an interesting one and he imparts some great advice.</p>
