---
layout: post
title: Awesome Clients Can Be Found Anywhere
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/awesome-clients-can-be-found-anywhere
hidden: true
---
<p>I’ve been running my own business for about a month now and, wow, have a learned a ton. However, the invaluable things I've learned will come in a later post. I'm here to talk about clients.</p>

<p>Nowadays, it seems that everyone wants the high profile clients. People with big ideas, the next great product. I admit that I'm included in that group. I would love to design for <a href="http://rdio.com">Rdio</a> or a product similar to that. However, I made realization today that great clients and exciting work can come from anywhere.</p>

<p>I'm currently working with a client whose business is to sell truck bodies. To the typical person, this would seem like a regular client; maybe not something to get excited about. Yet, I am excited about this project.</p>

<p>The owner of the business is a blue collar worker who genuinely cares about his business and the quality they can provide for their customers. He understands his business, the needs of the customers and how important it is to have a web presence. He's open to new ideas and accepts the opinions of the professionals, which in this case, is me.</p>

<p>To be honest, I don't really know what I want to accomplish with this post; I think it's to persuade people to give clients the benefit of the doubt and not consider any project to small. For me, this experience was unexpected and I'm so glad I've had the chance to work with these people. What about you? Have you ever felt that you had a great unexpected experience with a client?</p>
