---
layout: post
title: Apps I Love (Mac Edition)
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/apps-i-love-mac-edition
hidden: true
---
<p>Every once in a while, I get asked for app recommendations. I love giving these type of recommendations and if you follow me on twitter, you'll notice that I often ask for them too. Finding and using new apps is fun for me and I'm always looking for better and simpler ways of doing things. With that said, I thought I'd publish a list of some of my favorite apps in the hope of helping out some new Mac owners or point you to something you didn't know about before. You'll notice that the title of the post is "Mac Edition" which hints at a series!</p>

<p>Just as a side note, these apps are in no particular order. I use most of these everyday and would be at a total loss without them (which is sad). Also, I'm not using any affliate links and I wasn't paid to talk about any of these apps.</p>

<h3><a href="http://smilesoftware.com/TextExpander/" target="_blank">Text Expander</a></h3>
<p>If you don't have Text Expander, you really need to get on this bandwagon. It's an amazing app that saves me so much time everyday. I've programmed snippets that I use on a daily basis like my different email signatures, code snippets, my phone number, resume, etc. I save about an hour and a half of typing everyday; to me that's enough to make it's price of $34.95 worth it.</p>

<h3><a href="http://www.rdio.com/" target="_blank">Rdio</a></h3>
<p>I was a little late to this party but, Wow! I'm loving it. I just bought my subscription the other day and have found it extremely useful. I am at my desk most of the day and like any normal person, I love music. I've found most or all of my favorite music and the stream is excellent. I love it because, there's always new music, playlists or friends stations that I can listen to. Also, iTunes is so bloated these days and it always runs super slow on my machine. Great alternative and beautiful UI.</p>

<h3><a href="http://macromates.com/" target="_blank">TextMate</a></h3>
<p>I was using Smultron in my amateur days and as I look back, I don't know how I ever made do with it. I love TextMate. The themes that are included are great and it's features are very useful. I'm no expert and I'm learning new features of the app all the time but, the one I have discovered like, bundles, line collapse and others have made this app just amazing to use. The great thing is, you can add more functionality too! If you're writing SCSS, you can find extentions to properly color the code.</p>

<h3><a href="http://www.iawriter.com/" target="_blank">iA Writer</a></h3>
<p>Absolutely love this app. I wrote this post in iA Writer. It's such a beautiful app with such a simple interface; it's hard not to like it. I do have to credit <a href="http://adellecharles.com/" target="_blank">Adelle</a> for pointing me to this app and I'm glad she did. What I love about it is the seamless integration with iCloud. I can be working on a document on my Mac and then move to the couch and work on it from my iPad. Also, no formatting! The truth is, formatting takes up time and space and you don't need it to write. Writer does this excellently.</p>

<h3><a href="http://sparrowmailapp.com/" target="_blank">Sparrow</a></h3>
<p>This is actually a new app I just got into. I had heard such great things about it for a while. However, I didn't have my email set up with Google so, I hadn't moved over. What a mistake! I was using Postbox and although I was a loyal user for about two years, their app is a bit bloated and slows down my machine quite a bit. I run four different email accounts and not being able to switch between these effortlessly through out the day is a big downer. I'm now proud to say I'm using Sparrow and I love it. Beautiful UI, you can feel the attention to detail and very lightweight.</p>

<h3><a href="http://reederapp.com/mac/" target="_blank">Reeder</a></h3>
<p>For the longest time, I was using my email to receive RSS feeds. Big mistake. Not only did it clutter my inbox but, I would tend to delete articles in an effort of bringing my inbox to zero. It was an absolute mess and I wasn't reading like I would want to. Reeder is an excellent solution for me. I've added all or most of my feeds over to Reeder and now enjoy some reading before starting the work day. It's integration with Readability make the app that more useful. I can go through the day and bookmark an article in Readability knowing that it'll be there, waiting for me in Reeder.</p>

<h3><a href="http://www.getharvest.com/mac" target="_blank">Harvest</a></h3>
<p>Every contractor needs this. Actually, even if you're not a contractor, you need this. Harvest is actually a web app but, since I use the Mac App, I'll include it into this list. Harvest has simplified my life in so many ways. I can keep track of my time, easily sumbit invoices and provide estimates and it keeps track of my monthly and yearly earnings, making tax time that much easier.</p>

<h3><a href="http://getcloudapp.com/" target="_blank">Cloud App</a></h3>
<p>This app is amazing! I use this everyday. Yet, I believe I only use half of it's great features. I use it's Photoshop and Chrome raindrops the most. Through out the day, I'll be working on a comp and can easily upload my work and send it for feedback. Not to mention, it's a great way for me to see the progress I make on a certain interface. Also, when I go to share useful links on Twitter, I use CloudApp to shorten them. It also has Sparrow integration, allowing me to send lightweight emails with attachments in the cloud.</p>

<h3><a href="http://rogueamoeba.com/audiohijackpro/" target="_blank">Audio Hijack Pro</a></h3>
<p>Let's make it clear from the beginning, I love this app because of the functionality not because of the design. If you have a better alternative, please let me know. It's a great app though. I use it to record the audio from Skype which is really useful when recording episodes for the podcasts I host. You can record any audio really. However, my critique about this app is it's usability. It was a bit difficult to figure out how to use the first time but, thanks to <a href="http://nikibrown.com/" target="_blank">Niki</a>, I was able to set up a bit quicker.</p>

<h3><a href="http://www.mamp.info/en/index.html" target="_blank">MAMP</a></h3>
<p>Last but definitely not least, MAMP. If you're writing PHP or developing Wordpress themes, you need this. Setting up is quite easy but, if you need some help, <a href="http://css-tricks.com/video-screencasts/86-mamp/" target="_blank">watch this great video</a> by Chris Coyier. I always love the way he teaches, it's so personal. Love that. I owe him for a lot of the things I know now. Anyway, this isn't about Chris, it's about MAMP. It's a great app that will allow you to work locally which is good practice. I know most of us will work directly on the server and refresh but, you'll notice quickly this isn't the right way of doing things when you break everything because of an incorrectly placed "=" sign. Work locally with MAMP and then push up to your server. A lot easier and faster.</p>

<p>And that's my list of apps I love! If you have any recommendations or suggestions of better apps, let me know! I'd love to hear about them!</p>
