---
layout: post
title: Article on Designing “in the Browser”
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.lullabot.com/articles/designing-browser
alias: /links/designing-in-the-browser
hidden: true
---
<blockquote>
<p>As web designers, we work in a vibrant industry filled with lots of ideas and many who are great at voicing strong opinions. At least for me, it's easy to get sucked into trying to get everything right and wind up focusing on the wrong things.[...] if you want to be a great web designer, focusing on the specific tools you use within your workflow is really not that helpful. Rather, focusing on how to uncover problems, how to understand users, how the technology of your medium works, how to discover and emulate beauty, and how to enjoy your work are going to be far more beneficial to your long term success!
<small>Jared Ponchot</small></p>
</blockquote>

<p>I love this section from <a href="http://www.lullabot.com/about/team/jared-ponchot" target="_blank">Jared's</a> newest article. Really, his whole article on designing in the browser is spectacular and brings up some thought-provoking points. This is quite the hot topic in the industry at the moment and if you listen to The East Wing, you know I've voiced my opinion on this quite a few times. However, Jared does a great job in re-focusing all of us. He's right. The tools we use aren't what matters. At the end of the day, our effectiveness in discovering and solving problems within our work is what matters. It's a great read, I really recommend you check it out.</p>
