---
layout: post
title: A Quote Worth Thinking About
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/a-quote-worth-thinking-about
hidden: true
---
<blockquote>
  <p>Visual design is more than an outlet for the aesthetic you're into right now.
  <small>Allison House</small></p>
</blockquote>

<p>This small tweet by Allison really got me thinking about my own work. It merits thinking about because what this quote really asks is if you're designing according to the goals of the website and the needs of its users or only according to the trend you're into at the moment.</p>
