---
layout: post
title: New Episode of The East Wing with Jared Spool
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/31-jared
alias: /links/new-episode-of-the-east-wing-with-jared-spool
hidden: true
---
<p>I had the great pleasure of recording an episode with <a href="https://twitter.com/jmspool">Jared Spool</a> about a week ago. He's such a nice guy. Turns out, he's an avid listener of the show! We got the chance to talk about how he thought the internet was a fad, all the work that goes into putting on a conference and much more.</p>
