---
layout: post
title: New Art Directed Article on Wireframing
categories: links
status: publish
custom_type: link
published: true
custom_url: http://timlikestowrite.com/the-importance-of-wireframing
alias: /links/new-art-directed-article-on-wireframing
hidden: true
---
<blockquote>
  <p>Wireframing without a design brief can be assimilated to taking a calculus test without actually taking the class. Sure, you can do without but, you don’t have the necessary information to know what problems to solve and how to solve them.</p>
</blockquote>

<p>I've been working on an article about wireframing and the design process and was finally able to finish it and post it. It resides at my new art directed site, <a href="http://timlikestowrite.com/the-importance-of-wireframing">timlikestowrite.com</a>. You should check it out!</p>
