---
layout: post
title: New Episode of The East Wing with Aarron Walter
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/30-aarron
alias: /links/new-episode-of-the-east-wing-with-aarron-walter
hidden: true
---
<p>I had the huge privilege of recording an episode with <a href="http://aarronwalter.com/">Aarron Walter</a>. In case you don't know, he's a great designer, speaker and author. I had such a great time talking to him about how he got started, design problems he encountered at MailChimp and a lot of the work and research that went into writing his book <a href="http://www.abookapart.com/products/designing-for-emotion">Designing for Emotion</a>.</p>
