---
layout: post
title: New Episode of The East Wing with Adam Stacoviak
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/32-adam
alias: /links/new-episode-of-the-east-wing-with-adam-stacoviak
hidden: true
---
<p>I recorded a new episode of The East Wing this week with <a href="http://adamstacoviak.com/">Adam Stacoviak</a>. For those of you who don't know him, he's a really nice guy. He host three podcasts himself and on the show we talk about podcasting and his role as Product Lead at <a href="https://www.purecharity.com/?aff=36437">Pure Charity</a>.</p>
