---
layout: post
title: Anythin’ Goes Business Cards
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/anythin-goes-business-cards
hidden: true
---
<img src="{{ site.url }}/uploads/2012/11/biz-cards1.png" alt="Anythin' Goes Business Cards" />

<p>As you may know, the amazing <a href="http://vicbell.co.uk/">Vic Bell</a> did the logo for my new company <a href="http://anythingo.es">Anythin’ Goes</a>. Anythin’ Goes is my small one-man design studio specializing in web and iOS design. I had some business cards made by the awesome people at <a href="http://www.moo.com/share/jmsrc5">Moo</a> to hand out to people in an effort to look as professional as possible. I hope it works.</p>
