---
layout: post
title: New East Wing Episode with Dave Rupert
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/21-dave
alias: /links/new-east-wing-episode-with-dave-rupert
hidden: true
---
<p>Last week, we recorded with <a href="http://daverupert.com/">Dave Rupert</a> of <a href="http://paravelinc.com/">Paravel</a>, the <a href="http://atxwebshow.com/">ATX Web Show</a> and <a href="http://shoptalkshow.com/">ShopTalk Show</a>. I had the chance to meet him at this years Front-End Design Conference and he's a really awesome dude.</p>
