---
layout: post
title: Thank You Chris
categories: videos
status: publish
custom_type: video
published: true
hidden: true
video-embed: <iframe width="640" height="480" src="http://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
alias: /videos/thank-you-chris
---
<p>I was watching <a href="http://css-tricks.com/video-screencasts/103-integrating-fitvids-js-into-wordpress/">this tutorial</a> on how to integrate FitVids.js onto my site and this is the video he used as a test. It’s absolutely hilarious. You’ve got to watch it. As a side note, notice that the video above is responsive. Oh yeah...</p>
