---
layout: post
title: Looking For New Opportunities
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/looking-for-new-opportunities
hidden: true
---
<p>So as I said earlier today, my time at <a href="http://andyet.net">&amp;yet</a> has ended. I really liked the team and enjoyed my time there but they're looking for someone that is more developer oriented. In fact, if you're looking for a front-end position, you should check them out. They're a great team and I appreciate everything they've done for me.</p>

<p>Moving forward, I'll be looking for freelance work or a full-time position. If you know of anything or you have a web project you'd like me to work on, <a href="/contact">get in touch</a>! I'd love to talk.</p>
