---
layout: post
title: Adam Brault’s Talk from RealtimeConf
categories: videos
status: publish
custom_type: video
published: true
alias: /videos/adam-braults-talk-from-realtimeconf
hidden: true
video-embed: <iframe src="http://player.vimeo.com/video/52639927?badge=0" width="500"
    height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
---
<p>Love this talk from RealtimeConf. <a href="http://adambrault.com/">Adam Brault</a> is an awesome guy and I'm so bummed I couldn’t make it this year. Hopefully 2013.</p>
