---
layout: post
title: New Episode of The East Wing with Jared Erondu
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/27-jared
alias: /links/new-episode-of-the-east-wing-with-jared-erondu
hidden: true
---
<p>This episode was such a blast to record. <a href="http://jarederondu.com">Mr. Erondu</a> is a class act and it was great to get to know him better and what drives this young man. Doesn't matter what stage of your career you currently find yourself in, I'm sure you'll pick up something of value from this episode.</p>
