---
layout: post
title: My Move to Minnesota
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/my-move-to-mn
hidden: true
---
<img src="{{ site.url }}/uploads/2012/06/welcome2MN.png" alt="Welcome to Minnesota" />

<p>This past week, I started a new era in my life. I finally made my move to the beautiful Land of 10,000 Lakes: Minnesota. Some of you who know me will remember that I've been here before. You're right! About two years ago (has it been that long?) I spent six months here and fell in love with the city and people. I had the chance to make some great friends and meet very creative people who are working on awesome things.</p>

<p>At the moment, I'm busy getting things setup and put away. It's crazy how much there is do to when you move. I've moved plenty of times so, naturally, I thought I'd be a pro. What I found out, is that nothing prepares you for a cross-country move. I will say though, what really helped out was <a href="http://middaylatte.com/post/6286592516/my-cross-country-move-orlando-to-san-francisco">this post</a> by Allison House. If you're making a big move, I really recommend you read it. It'll help you get organized and, really, for a move like this, that's the most important thing.</p>

<p>Anyway, now that I'm in Minnesota, I'm hoping to find a web design meetup to go to. If you have any suggestions, let me know! I also want to take this moment to give a huge thanks to <a href="https://www.lullabot.com/">Lullabot</a> for being awesome and letting me move and work wherever I want. <a href="http://theeastwing.net">The East Wing</a> will be ramping up again this week with <a href="http://ethanmarcotte.com/">Ethan Marcotte</a>. It's going to be a great episode!</p>

<p>As always, thanks for reading! I'll see y'all on the internets!</p>
