---
layout: post
title: Thoughts on App.net
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/on-app-net
hidden: true
---
<p>So there's been a lot of talk around this idea of <a href="https://join.app.net/">App.net</a>. Now I'll be honest and admit that I wasn't too sold on the idea when I first heard of it. It's a paid social network after all. However, as I thought more about it, the idea became more convincing to me.</p>

<p>I've been involved in a couple of businesses that failed and a prevalent pattern seems to be that lack of confidence to charge for the product you're selling. When you don't charge for your product, you need someone to fund it. Who? VC's. Angel investors. These people become your customers, the one's you cater to and the products become crap for the actual people who need to use it. That's what's happening with Twitter and will become more and more apparent as time goes by.</p>

<p><a href="https://join.app.net">App.net</a> promises to not go down this route because it's a paid service. Who'd use a paid social network? Honestly, I don't know. I think there are parts of this business model which aren't being thought about. I mostly agree with <a href="http://samsoff.es/posts/app-net-is-dreaming-small">Sam's thoughts</a>, they're not dreaming big enough&hellip; yet. But, I do feel that they have a good idea and are headed in the right direction. They're being upfront and gutsy and as a paying customer, I'll be cared for and won't have ads shoved in my face.</p>

<p>I hope more people jump on this bandwagon and it's also my hope that third-party developers that have been treated badly by Twitter can begin to develop on the App.net platform (I'm looking at you Tweetbot!). If you decide to join, I'm <a href="https://alpha.app.net/ttimsmith">@ttimsmith</a> as always.</p>

<p>Personally, I'm looking forward to seeing how this plays out. I don't know if it'll be successful. I don't know if I'll later regret writing this. But, I respect a business that's willing to charge for a product that our society seems to value at nothing. Quality has a price and unfortunately it's undervalued. You always get what you pay for.</p>

<p><strong>Update:</strong> App.net has been funded!</p>
