---
layout: post
title: Keeping Your Cool
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/keeping-your-cool
hidden: true
---
<p>If you're reading this, you probably know me. If you don't, read other articles on this site or listen to my <a href="http://theeastwing.net">podcast</a>. Don't worry, I'll wait.</p>

<p>Ok, now that you know who I am and a bit of my personality, you'll agree when I say that I'm a nice guy. I'm the type of person that opens the door for women, keep my elbows off the table and always put my napkin on my lap. I'm nice, well-mannered and respectful.</p>

<p>Yet, like everyone else, I get upset. People at times say hurtful things because, hell, they're on the internet and there is nothing you can do. My pal <a href="http://twitter.com/mattepp">Matt</a> told me yesterday that basically “trolls gonna troll” and it's very true. Some people find satisfaction in bringing other people down and that's just something you have to deal with in your life.</p>

<h3>Anyway</h3>

<p>The point of this post is to talk about keeping your cool. There have been times recently where nothing would have made me happier then to go all Mike Tyson up on some people but, it's not worth it. That's something I'm very proud to say that my mother taught me. It's never worth reducing to someone's level.</p>

<p>What has worked for me, is that I always remember that there is a real person on the other side of the screen. Always. I don't want to be the cause of anyone's feelings being hurt. This isn't common but, I've chosen not to care about what other people do.</p>

<p>I will always be nice. When I offer criticism, it will be constructive and with tact. When someone decides to troll, my response will be one filled with respect. This is how we make the web a better place: when we decide to not say anything that we wouldn't say to someone in person and as I'm sure everyone's mother said at one point, “If you have nothing nice to say, don't say anything at all”. Because, honestly, the time spent hurting people could be better spent doing something great yourself.</p>

<p><strong>Be nice.</strong></p>
