---
layout: post
title: Having Fun and Be Happy
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/having-fun-and-be-happy
hidden: true
---
<img src="{{ site.url }}/uploads/2012/03/lullabot-lead.jpg" alt="Lullabot Logo" title="lullabot-lead" />
<blockquote>
  <p>There's no need to sacrifice happiness for success. We believe that happiness, fun, and general silliness bring with them an energy which fuels creativity and innovation, creates a more open and communicative workplace, and makes for a more productive, more dedicated team. It's also just more fun. We try to focus on the positive and downplay competition and negativism. We are grateful for our successes and celebrate them.
  <small><a href="http://www.lullabot.com/values" target="_blank">Lullabot Core Values</a></small></p>
</blockquote>

<p>Isn't that awesome? I love the sound of that and I'm so happy and excited to now be working with <a href="http://www.lullabot.com/" target="_blank">Lullabot</a>. Lullabot is the world's top Drupal consulting and education company. They're responsible for creating websites for the <a href="http://www.grammy.com/" target="_blank">Grammy's</a>, <a href="http://www.marthastewart.com/" target="_blank">Martha Stewart</a>, <a href="http://www.wwe.com/" target="_blank">WWE</a> and <a href="http://www.lullabot.com/services/clients" target="_blank">more</a>.</p>

<p>This means I'm no longer working at <a href="http://getworksimple.com" target="_blank">WorkSimple</a> and I'd like to take this time to thank the wonderful people there, for the opportunity to work with them. I learned so much from the team and I can't wait to see the great things they're in the process of releasing.</p>

<p>I'll also be attending my first conference: <a href="http://denver2012.drupal.org/" target="_blank">DrupalCon Denver</a>! I'll be tweeting and checking in like crazy and if you'll be there, <a href="/contact">let me know</a>! I'd love to meet ya!</p>

<p>As always, thank you for reading and your support! I'm excited about this new opportunity at Lullabot and look forward to the projects I'll be working on.</p>
