---
layout: post
title: Cheddar for Mac Is Out!
categories: links
status: publish
custom_type: link
published: true
custom_url: https://cheddarapp.com/mac
alias: /links/cheddar-for-mac-is-out
hidden: true
---
<p>I <a href="http://theeastwing.net/episodes/22-sam">interviewed Sam</a> earlier this week and even before that, I was a big fan of <a href="https://cheddarapp.com/">Cheddar</a>. Today, he announced the Mac app for Cheddar and it's amazingly beautiful! The UI Sam has created for the brand is really nice and the pricing is ridiculously affordable. Check it out and download the app <a href="https://cheddarapp.com/mac">here</a>!</p>
