---
layout: post
title: The Thoughts of Someone Who Shouldn’t Be Awake
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/the-thoughts-of-someone-who-shouldnt-be-awake
hidden: true
---
<p>I've been working a lot and very hard on my new freelancing business and the magazine. I have the “letter to the editor” layout finished and the “intro to the interview” layout finished as well. I am so nervous. I wonder if all this work will be in vain. I wonder if this idea will fail. I wonder if I'm the right person to execute this idea. I worry that this could turn into a disaster. I read earlier today a great quote from <a href="http://jasonsantamaria.com/">Jason Santa Maria</a> on <a href="http://thegreatdiscontent.com/jason-santa-maria">The Great Discontent</a>.</p>

<blockquote>
  <p>I’m sure that I’m romanticizing it as I’m getting older, but when you’re a kid, everything seems possible. When you think about doing something, the time between thinking about doing it and actually doing it is usually very brief. You say, “Hey, what if I do that?” and then you’re doing it. As an adult, you think, “I want to do this thing,” or, “I want to make something.” Then you start gathering resources and devising a plan, but then you get tired because you’re old and want to lay down. There’s something about that childhood idiocy that I often think back on and love.</p>
</blockquote>

<p>I completely agree with him. As we get older we tend to think a lot more about the decisions we make. Interestingly, for personal things, I've always been carefree to the point of making some very bad decisions. With work, however, I'd say that most if not all of my decisions have been conservative. I tend to do things that I'm comfortable with; things I know. It's because of this that I believe this magazine is so hugely important to me. It's a risk. A huge risk on my part. I'm hoping for the best but being realistic about the possibility of utter failure. Either way, I'm convinced that something can be learned from this experience. I've already learned so much about editorial layout for print and I'm excited at the opportunity to call this product mine.</p>

<p>Maybe these thoughts belong in my personal journal but, I just want to say to those of you who are thinking of taking risky decisions, do it. Jump in. I was so scared to leave the comfort of a full-time job and yet, here I am, with enough money to eat and to have a roof over my head. Take a risk. Work on what you've wanted to do. It's scary as all hell but, can be immensely rewarding and educational.</p>
