---
layout: post
title: New East Wing Episode with Jason VanLue
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/24-jason
alias: /links/new-east-wing-episode-with-jason-vanlue
hidden: true
---
<p>I had the awesome pleasure of talking with Jason VanLue for an hour. In case you don't know, he's the Design Lead at <a href="http://envylabs.com/">Envy Labs</a>, the makers of <a href="http://www.codeschool.com/">Code School</a>. It was a great conversation and if you're into learning something new everyday, you should <a href="http://theeastwing.net/episodes/24-jason">take a listen</a>.</p>
