---
layout: post
title: Pre-Order Execute Book
categories: links
status: publish
custom_type: link
published: true
custom_url: http://executebook.com/
alias: /links/pre-order-execute-book
hidden: true
---
<blockquote>
<p>There is a lot to be said for the difference between planning for six months, developing for a year, learning that your users don’t want to pay for something, pivoting, starting over on development, and having your investors clean you out, as opposed to launching an open-ended, simple, and small version of a great product in which users tell you exactly what they’re willing to pay for while they’re already paying you.
<small><a href="http://blog.executebook.com/post/34564768853/there-is-a-lot-to-be-said-for-the-difference">Execute Book</a></small></p>
</blockquote>

<p>I came across this excerpt from Execute, a book by <a href="http://drewwilson.com/">Drew Wilson</a> and <a href="http://twitter.com/joshlong">Josh Long</a>. I pre-ordered a while back and I highly recommend you do to. I've had the chance to talk with Drew and I really admire the guy. He get's things done without even breaking a sweat; at least that's how it looks from the outside.</p>

<p>Drew has created several income generating products and make a living from them. I think we'd all love to do the same. <a href="http://executebook.com/">Pre-order the book</a> and maybe some of Drew's genius will rub off.</p>
