---
layout: post
title: New Episode of The East Wing with Drew Wilson
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/35-drew
alias: /links/new-episode-of-the-east-wing-with-drew-wilson
hidden: true
---
<p>I've long been a fan of <a href="http://drewwilson.com/">Drew Wilson</a>. He's a real down-to-earth guy that does tons of awesome stuff. Not only do I like a lot of things he does, I like the reason why he does it.</p>
