---
layout: post
title: The Value of a Website
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.thedesigncubicle.com/2012/10/dear-business-im-scared-for-you/
alias: /links/the-value-of-a-website
hidden: true
---
<blockquote>
  <p>Your website is not a feature that you can half-ass. Spend some money. Protect your future. A good website works hard for your business. Much harder than many employees can offer.</p>
</blockquote>

<p>What an amazing article by <a href="http://brianhoff.net/">Brian Hoff</a> telling businesses to value the work done by a website. In it, he talks about paying up to $100k for his own site. His examination of how online businesses are flourishing is great and hits you with a reality check. It's so true, our economy isn't in the pits, it's just that business isn't done the same anymore. You should definitely <a href="http://www.thedesigncubicle.com/2012/10/dear-business-im-scared-for-you/">read this</a>.</p>
