---
layout: post
title: Highlighting Young and Unknown Creatives
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine
alias: /links/highlighting-young-and-unknown-creatives
hidden: true
---
<p>I've been thinking a lot about this recently and I'm writing this in an effort to better explain the project and hopefully convince you more effectively than the video on Kickstarter. The truth is, the video doesn't do this project justice, but that's a completely different topic.</p>

<p>When I launched Make Awesome, I had a general and, honestly, vague idea. It was a dream that hadn't been completely fleshed out yet and three weeks later, I now understand what I want this project to accomplish a lot more than I did when I initially launched it.</p>

<p>Since the project's inception, I've had the privilege of doing some interviews that have helped me create a better vision and I'd like to transmit this idea to you.</p>

<p>The point of this magazine is celebrate young and relatively unknown people in our web industry. It aims to not only get you thinking about where our industry is heading and new, creative ways to solve new problems; it invites you to enjoy life and to remember that work is only the tool that allows us to enjoy it.</p>

<p>I'd say that the magazine will not only be a design magazine but a lifestyle magazine. One that examines what creatives do outside of work and gives suggestions about getting away from the noise. That's also the reason why I want the magazine to only be print. I completely agree with <a href="http://www.offscreenmag.com/">Kai Brach</a>. We are so attached to our devices and I hope that this magazine serves as a much needed break to relax on the couch, have a freshly brewed cup of coffee and read the inspiring stories of others that, hopefully inspire you to continue working on your own.</p>

<p>If you are a person that loves what you do and has a passion for doing great work, this is the magazine about you. Our industry needs a publication about and for the regular people: those of us who don't write books, speak at conferences or interview for big publications. Make Awesome is that publication and the magazine is only the beginning.</p>

<p><a href="http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine">Back this project</a>, share the magazine and share the vision.</p>
