---
layout: post
title: New Episode of The East Wing with Dan Eden
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/29-dan
alias: /links/new-episode-of-the-east-wing-with-dan-eden
hidden: true
---
<p>I had the privilege of talking with <a href="http://daneden.me/">Dan Eden</a> on The East Wing. He's a really nice guy. The man has tons of self-started side projects and we go through them one by one. He's got some very interesting things to say so you should <a href="http://theeastwing.net/episodes/29-dan">take a listen</a>.</p>
