---
layout: post
title: The Industry Radio Show - Episode 17
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theindustry.cc/2012/08/07/17-the-art-of-wireframing-a-new-messaging-protocol-mountain-lion-and-rocking-the-baby/
alias: /links/the-industry-radio-show-episode-17
hidden: true
---
<p>Last Thursday, I was invited to be on <a href="http://theindustry.cc/2012/08/07/17-the-art-of-wireframing-a-new-messaging-protocol-mountain-lion-and-rocking-the-baby">The Industry Radio Show</a>. I couldn't believe it! It was a lot of fun. We talked about <a href="http://theeastwing.net">The East Wing</a>, working at <a href="http://lullabot.com">Lullabot</a> and a lot more. <a href="http://theindustry.cc/2012/08/07/17-the-art-of-wireframing-a-new-messaging-protocol-mountain-lion-and-rocking-the-baby">Take a listen!</a></p>
