---
layout: post
title: 'Creative Mornings Berlin: Erik Spiekermann'
categories: videos
status: publish
custom_type: video
published: true
hidden: true
video-embed: <iframe src="http://player.vimeo.com/video/49744848?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
alias: /videos/creative-mornings-berlin-erik-spiekermann
---
<p><a href="http://daneden.me/">Dan Eden</a>, recommended this video to me and I loved it. Erik is hilariously condescending but, you can tell the man knows what he's talking about. He gives some interesting insight into type for screens that I found very useful. Pardon for some of the foul language. Pretend you didn’t hear it.</p>
