---
layout: post
title: Dribbble Invites Up For Grabs
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/dribbble-invites-up-for-grabs
hidden: true
---
<p>I got the awesome e-mail from Dribbble yesterday that I had 2 invitations! I like giving these out! It's always fun to see people's amazing work. So do you want an invitation?</p>

<h3>Here’s How To Win</h3>

<ul>
<li>Comment on this post with your portfolio URL</li>
<li>Give me some context on what you've been working on and why you want to be on Dribbble</li>
</ul>

<p>I'll announce the two winners when I've seen portfolio's that I like. Look forward to seeing your awesome work!</p>
