---
layout: post
title: New Art Directed Article on Style
categories: links
status: publish
custom_type: link
published: true
custom_url: http://timlikestowrite.com/finding-a-style
alias: /links/new-art-directed-article-on-style
hidden: true
---
<p>I'm going thru this list of articles that I once published on this very site and now republishing them on <a href="http://timlikestowrite.com">timlikestowrite.com</a>. This particular one, I wrote back in March of 2011. I'm trying not to edit them because I 2011 Tim to shine through and let me tell you, he sounds horrible. Either way, it's fun to read over things I wrote a long time ago. It's a great to see how much has changed in the way I think and lessons I've learned. Anyway, go check it out!</p>
