---
layout: post
title: Tim Likes To Write
categories: links
status: publish
custom_type: link
published: true
custom_url: http://timlikestowrite.com/
alias: /links/tim-likes-to-write
hidden: true
---
<blockquote>
  <p>The site is called Tim Likes To Write and it’s truer now more than ever. The truth is we should all be finding time to write and put our thoughts down on paper (whether it’s done literally or figuratively).</p>
</blockquote>

<p>I launched a new site! I'm not one to launch new sites often so this is really exciting for me. It'll be the place where I put longer thoughts and more thought out articles. Also, you might see guest writers from time to time. I hope you like the new site and I look forward to hearing your feedback!</p>

<p><strong>Update:</strong> This site no longer exists.</p>
