---
layout: post
title: Pocket
categories: links
status: publish
custom_type: link
published: true
custom_url: http://getpocket.com/
alias: /links/pocket
hidden: true
---
<blockquote>
  <p>Pocket is a “read it later”-style service that allows users to bookmark parts of the webs to be read in the future.</p>
</blockquote>

<p>This seems like a pretty awesome app. I had to find out if it integrated with Tweetbot because that's where I usually save links from. It definitely shows promise. Now a days, I feel like I do most of my reeding from recommendations on Twitter instead of RSS feeds anyway. What do you think? Will you be giving it a shot?</p>
