---
layout: post
title: Interview on Noupe
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.noupe.com/spotlight/interview-with-designer-podcaster-tim-smith-71113.html
alias: /links/interview-on-noupe
hidden: true
---
<p>I was recently asked by the editor of Noupe, <a href="http://twitter.com/rob_e_bowen">Rob Bowen</a>, for an interview. I was shocked and honored to be asked. I've known Rob for a couple of years and he came up with some great questions. If you're interested, <a href="http://www.noupe.com/spotlight/interview-with-designer-podcaster-tim-smith-71113.html">read the interview</a> and let me know what you think!</p>
