---
layout: post
title: The State of Instagram
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/the-state-of-instagram
hidden: true
---
<p>Many people have been talking about Instagram lately, especially with the introduction of <a href="https://www.facebook.com/mobile/camera" target="_blank">Facebook Camera</a>. My pal, <a href="http://blog.adellecharles.com/facebook-camera-instagram" target="_blank">Adelle Charles</a> wrote about it on her blog and she brings up some interesting points. I was also reading a new review of the app on iPhone Appstorm with the title being: <em>Instagram is Reborn as Facebook Camera</em>.</p>

<p>I am on my knees, begging that this isn't accurate. It's funny how worked up we can get over a simple app but, that's just it. It's not just an app. These companies become part of how we do things everyday and we live in a society where these more successful startups (Facebook, Twitter and Google) seem to be buying everything.</p>

<p>Y'all remember Tweetie? Remember how absolutely beautiful it was? Remember how it was the best Twitter client and pioneered UI patterns that are still in use today? Then Twitter came in, bought it and eventually it became the crap it is today.</p>

<p>I fear the same is happening to Instagram. I will gladly give you of my hard earned money if you make something awesome. In this case, I would've gladly payed for Instagram (This is the guy that downloaded the completely leaked Drake album and proceeded to pay for it when it came out a week later). I genuinely care for people that make things I like and if I could've had a part in Instagram not becoming part of Facebook's massive monopoly, that would've made me happy.</p>

<p>To those of you who are entrepreneurs and making new apps, charge from the beginning. If you make something of value, people will pay for it.</p>
