---
layout: post
title: I Can’t Write
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/i-cant-write
---
<p>I wish I could. I really do. I wish I could be one of those prolific writers that sit down and pump out a thousand words easily. I can count one piece that I've written which has exceeded a thousand words and that might even include homework assignments from high school (did I mention I wasn't a good student?)</p>

<p>So how do they do it? I've heard that some dedicate a time in the day to write. An hour, maybe two where they sit down and write something. My pal <a href="http://blog.jarederondu.com/">Jared Erondu</a> used to write 10-20 pieces a day for a blog he founded and is now the Editor of The Industry at the age of 18. He's half man, half amazing.</p>

<p>Is it a gene? A natural talent? Can you develop this talent? At least in our industry, I'm always talking to designers and developers who say its essential to write. Not only to develop your thoughts and truly know what you're feeling, but to also share the work you're doing. I've tried to do some of that myself and I've found it very therapeutic.</p>

<p>However, I'm coming to realize that the problem I have with my writing is that I feel no one reads it. Maybe that's the adjustment I need to make. Why do I care if people read my horrendously written thoughts? That's something I learned from <a href="http://daneden.me/">Dan Eden</a>. He told me in a <a href="http://theeastwing.net/episodes/29-dan">recent interview</a> that he started blogging because of course he wanted to be like Chris Coyier some day, I mean, who doesn't? But also because it was his playground. Somewhere he could express his thoughts and the latest techniques he was learning.</p>

<p>To me, it really nailed home the idea that I should be writing because I want to do it and that's it. If no one reads, that's quite alright. It helps me organize my thoughts and ultimately makes me a better designer.</p>

<p>So if you're thinking of starting a blog or you've already started one but you've abandoned it, I encourage you to keep it up. Share the link in the comments and I'll be sure to visit.</p>

<p>From this day forward, I'm going to write for one hour each day. Some of these are going to really suck but, I hope you'll join me.</p>
