---
layout: post
title: Don’t Be a Douche. Pay for Quality Stuff
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/dont-be-a-douche-pay-for-quality-stuff
hidden: true
---
<p>I know that the title is sensational. I'm hoping that people read this just because they're offended at it. Still, the point I'd like to make is important. A very <a href="http://tapbots.com/software/tweetbot/mac/">quality piece of software</a> came out today and almost immediately, people began to complain about how they weren't happy with the price.</p>

<p>This is a discussion that happens often. The value of apps are always being measured and I think, unfortunately, the trend is to sway on the low side. I feel like people don't realize how much work goes into creating a quality application. Countless hours of work; thinking, discussing UX, refining the design, thinking through interactions and development. We're not talking a couple of days here; we're talking months of full-time work. In this case, Tapbots has created Tweetbot for the iPhone, iPad and Mac. Quality products deserve to be paid for and the guys at Tapbots have done an amazing job with this suite of applications. Don't be a douche. Pay for their stuff.</p>

<p><a href="http://tapbots.com/software/tweetbot/mac/">Tweetbot for Mac</a></p>
