---
layout: post
title: New Beginnings
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/new-beginnings
hidden: true
---
<p>So as you may have noticed the site got a bit of a refresh. I've been working diligently on the new Lullabot.com and I was inspired to rethink my own site. I decided to finally treat my site as I would a client site (for the most part). Create a type of creative brief, wireframe key pages, and pay attention to the details of the site (i.e. textures, hover effects and, yes, an adaptive layout).</p>

<p>There were many things that bothered me about the old site and I've done my best to address them. Mostly, I had a problem with not only the display of content but, the creation of it as well. I'm the type to find interesting links all the time and often have small pieces I'd like to share. This design will make that easy. My pal <a href="http://galengidman.com/" target="_blank">Galen</a>, helped me create a post format for links. I'm so thankful for his help.</p>

<p>My larger pieces, however, will mostly live on the Lullabot blog. I'm so happy to be working there and I'm excited to be playing a role in the design team and in creating design related content together with my awesome teammate <a href="https://twitter.com/#!/jponch" target="_blank">Jared Ponchot</a>. With that said, if I think of something that doesn't fit there, it will always have a home here.</p>

<p>As always, I'd appreciate any feedback and constructive criticism that you might have about the site. Thanks for reading and your continued support.</p>
