---
layout: post
title: On Podcasting
categories: videos
status: publish
custom_type: video
published: true
video-embed: <iframe width="640" height="480" src="http://www.youtube.com/embed/Y0fU377NMsM" frameborder="0" allowfullscreen></iframe>
alias: /videos/on-podcasting
hidden: true
---
<p>Wanted to create a quick screencast that goes over the basics on setting up Podpress, a plugin for Wordpress that is made for podcasting. We go through creating a feed, running it through feedburner and submitting to the iTunes store. Hope you find this useful!</p>

<h3>Video Links</h3>

<ul class="show-notes">
<li><a href="http://wordpress.org/extend/plugins/podpress/" target="_blank">podPress plugin</a></li>
<li><a href="http://www.apple.com/itunes/podcasts/specs.html" target="_blank">iTunes Podcast Specs</a></li>
<li><a href="http://feedburner.google.com/" target="_blank">Feedburner</a></li>
</ul>
