---
layout: post
title: A Better Toy for Developing Girls
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.upworthy.com/move-over-barbie-8212-youre-obsolete
alias: /links/a-better-toy-for-developing-girls
hidden: true
---
<p>It’s always bothered me that girls are brought up thinking they’re princesses. I feel like it’s a huge lie. Being a princess isn’t an actual job you can achieve and isn’t real life. The truth is, women don’t dress up in gowns everyday and “Prince Charming” only exists in books. Girls can grow up to be so much more.</p>

<p><a href="http://www.twitter.com/goldieblox">Debbie Lewis</a> knows this and wanted to create a toy that would stimulate an interest in science and engineering for girls. It's called GoldieBlox. I admire what she’s doing and I’m glad she’s doing it. Find out more about the toy <a href="http://www.upworthy.com/move-over-barbie-8212-youre-obsolete">here</a>.</p>
