---
layout: post
title: Connecting Less
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/connecting-less
hidden: true
---
<p>I started an experiment today. I removed email from my phone. This isn't a huge deal but, I'm going to try it for a whole week and see where I'm at after that. I decided to do this because I feel to plugged in all the time. I'm constantly worrying if a client has sent me something I should get to or if someone has sent me a message offering me a lot of money (haha yea right).</p>

<h3>The problem</h3>

<p>I was watching Parks and Recreation (you should watch it too if you're not) the other day and I noticed that even though I had finished work, I was constantly checking my email.</p>

<p>I've noticed that ever since I started freelancing, I respect my personal time less. I'm always on and I hate that. At least for me, I'm not liking the unbalanced balance I'm striking here. As much as my clients might not like it, I shouldn't be available past 5pm Central Time. Anything that happens after that can wait till the next morning. Of course, there are some exceptions but for the most part, it can wait.</p>

<p>I'll always remember something my Dad tells me:</p>

<blockquote>
  <p>You've got to look out for yourself because no one else is going to do it for you.</p>
</blockquote>

<p>As sad as that is, it's true. If people know they can get you to do things for free, they will. If they know you're reachable at night for “project emergencies”, they will take advantage of that. Of course, I think it's essential to be respectful when establishing these limits and I've seen that when I set them early, things go so much smoother.</p>

<p>So, in an effort to keep the balance a bit better and enjoy life more, I'm eliminating email from my phone. In the world we live in, with everything being instant and people becoming less patient, I think it's important to disconnect and enjoy the things away from the desk.</p>
