---
layout: post
title: Workin’ with SVG’s
categories: videos
status: publish
custom_type: video
published: true
hidden: true
video-embed: <iframe width="420" height="315" src="http://www.youtube.com/embed/nsUamUXNl7Q" frameborder="0" allowfullscreen></iframe>
alias: /videos/workin-with-svgs
---
<h3>Show Notes</h3>

<ul class="show-notes">
<li><a href="http://css-tricks.com/video-screencasts/113-creating-and-using-a-custom-icon-font/" target="_blank">#113: Creating and Using a Custom Icon Font</a></li>
<li><a href="http://www.somerandomdude.com/2012/08/12/svg-css-injection/" target="_blank">SVG CSS Injection</a></li>
<li><a href="http://simurai.com/post/20251013889/svg-stacks" target="_blank">SVG Stacks</a></li>
</ul>
