---
layout: post
title: Sharing is Caring
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/sharing-is-caring
---
<p>Recently, I’ve been making an effort to have coffee or meet up with fellow designers and developers here in the Twin Cities. We have a very strong community of smart and creative people here so, I've been trying to get to know people individually. As you might know, I’m a coffee addict so, these meetings are a great way to feed the vice.</p>

<p>However, I’ve come across something extraordinary. In each of these coffee meetings, we always end up talking about something fascinating that the other person is working on and my question is always the same: “Why aren’t you writing about this?”.</p>

<p>I’ve realized that way too many people are shy about writing or documenting about their process and work. Interestingly, I talked about this with <a href="http://theeastwing.net/episodes/37-brian">Brian Hoff on The East Wing</a> the other day. We talked about how helpful it was for him to start <a href="http://thedesigncubicle.com/">The Design Cubicle</a>. That blog has not only been a huge source of work for him; it's served countless times as a valuable resource for me and likely for many of you.</p>

<p>What would’ve happened if he hadn’t been keen on sharing? I think it's safe to say that his career would be completely different.</p>

<p>Let me tell you another story. I had the pleasure of going to <a href="http://frontenddesignconference.com/2012">The Front-End Design Conference</a> last June. Both <a href="http://daverupert.com/">Dave Rupert</a> and <a href="http://darcyclarke.me/">Darcy Clarke</a> clearly admonished people to share and blog more about what they were working on.</p>

<p><strong>I completely agree with this movement.</strong></p>

<p>You might be thinking, “Another blog? Would anyone even be interested in what I write?”. <strong>That doesn't matter.</strong> Let me give you a couple of reasons why you should be writing.</p>

<ol>
<li><p><strong>Learn as you go</strong><br />
Do you think Chris Coyier knew what he was doing when he first started <a href="http://css-tricks.com/">CSS-Tricks</a>? I bet you he didn’t. He was fascinated with what you could do with CSS and just wanted to share what he was learning along the way. In the process, he went from being a beginner to a very respected person in our industry.</p></li>
<li><p><strong>Get work</strong><br />
Most of the work I’ve done, whether it be freelance or the full-time jobs I’ve been so fortunate to hold, have come about either through this blog or <a href="http://theeastwing.net/">The East Wing</a>. Employers and clients like people who are passionate about what they do and sharing things you’re learning is a great way to show that.</p></li>
<li><p><strong>Strengthen Your Personal Brand</strong><br />
A lot of people want to write for the big blogs or publications to be recognized but, what they’re forgetting is their own brand. I think a great example of this <a href="http://daringfireball.net/">John Gruber</a>. You know him from his own personal writing place: Daring Fireball, not as the writer from another publication. He’s turned his name and brand into a very respected one.</p></li>
</ol>

<p>So what do you say? Will you throw embarrassment or the thoughts of not having enough experience to the wind and start your own blog? Will you start sharing what you’re working on and help others who may be trying to learn something similar?</p>

<p><strong>Do it.</strong></p>
