---
layout: post
title: New Leaked iPhone 5 Pictures!
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.theverge.com/2012/5/29/3049874/new-iphone-backplate-photo-rumors-dock-connector-widescreen
alias: /links/alleged-iphone
hidden: true
---
<img src="{{ site.url }}/uploads/2012/05/9to5macblackandwhite_large_verge_medium_landscape.png" alt="9to5 Mac Picture of iPhone 5" />

<blockquote>
<p>Two separate iPhone part suppliers have leaked nearly identical-looking versions of what appears to be a backplate for Apple’s next iPhone, both of which support rumors of the device’s lengthened body and redesigned dock connector.</p>
</blockquote>

<p>This is so exciting! I’m really looking forward to the release of the iPhone 5. I’m really happy about the larger screen size. However, I do have to say I’m a bit disappointed that the dock connector has been redesigned. If that turns out to be true, I think it’ll be a headache. A lot of us have multiple Apple products and up until now, they awesomely share the same charger. What do you think? Are you excited about the new iPhone?</p>
