---
layout: post
title: Latest News &amp; Updates
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/latest-news-updates
hidden: true
---
<p>I'd like to start off by announcing that as of yesterday I started as the Director of Design for <a href="http://rocketlift.com">Rocket Lift Inc</a>. I've been working on client projects with these guys for about two months now and I've come to really like them. They're a fun team, we say things that HR reps have nightmares about and we have big plans of what we'd like to do together. Also, <a href="http://twitter.com/mattepp">Matt Eppelsheimer</a> is very well aware of my other projects and is giving me time to work on them and for that, I'm very thankful.</p>

<p>In the upcoming months, I'm looking forward to the projects we have in the pipeline and also being part of positioning ourselves to do some really exciting things with WordPress. We're overhauling the branding of the company and the website will receive a much needed re-design. Again, I can't tell you how excited I am to be part of all this.</p>

<h3>The East Wing</h3>

<p>My podcast continues strong and I'm amazed that I'll be publishing episode thirty-five this week. I've had an amazing year with the show. I've talked to some very smart people, people whom I've been following for years and can now call friends. Stay tuned for full update a on The East Wing coming out in the next couple of weeks.</p>

<h3>Make Awesome</h3>

<p>First of all, thank you to the many who supported and backed this project with their hard earned money. I'm so thankful to you. The Kickstarter campaign did fail but, it's not the end of this idea. I'm currently talking to companies interested in sponsoring the magazine and I've found a local printer who will print the magazine for a significantly lower price. This is great for two reasons. First, the reduced cost will make the magazine affordable for more people and second, we'll be able to say the magazine was created in Minnesota. We have such an amazing community here and it'll be exciting to see one more thing that was completely made here.</p>

<p>Also, in the next couple of weeks, Make Awesome will resurface with an all new name. I'm renaming the magazine because a very popular designer, Leslie Jensen-Inman, had started doing things under <a href="http://www.makeawesomeness.com/">Make Awesomeness</a>. I had no idea of this when I named the magazine. Since we haven't published an issue yet, I want to change the name in good faith and not interfere with anything she might be doing. What's the new name? You'll have to <a href="http://makeaweso.me/">subscribe to the newsletter</a> to find out.</p>

<h3>Browser Tap</h3>

<p>This is a project I'm very excited about. <a href="http://twitter.com/craigcondon">Craig Condon</a>, <a href="http://twitter.com/tim_erickson">Tim Erickson</a> and myself have been working on an app that will make cross-browser testing so much easier than it is right now. We've rethought the way it's done and hopefully made an application that will fit into your workflow instead of you having to accommodate to an application. Craig is a genius and has been doing some amazing things from the technical side. We hope to start sending out beta invites very soon. If you want to stay updated, <a href="http://twitter.com/browsertap">follow @browsertap</a> on Twitter.</p>

<h3>So Much More</h3>

<p>Quite honestly, there is so much more I'm planning on doing. <a href="http://twitter.com/mattsteeele">Matt Steele</a> will tell you. I want to get more involved here in the Twin Cities community. Maybe organize a meet up. Maybe even a conference. The days of me sitting around and seeing other people do all this awesome stuff are gone. I want to do things I have a passion for. I'm going to make stuff because I want to see it exist and I'm going to have fun doing it.</p>

<p>The end of this year puts an end to an extremely bittersweet time. I've made great decisions and horrible ones; some of which I'll regret for a very long time. But, life isn't about sulking about the things that happen to you or the stupid things you decide to do, it's about learning, moving on and making things better. 2013 is my year.</p>
