---
layout: post
title: Here’s the Latest
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/here-the-latest
hidden: true
---
<p>This Saturday, I finally decided it was time to get serious about my sites and actually host them somewhere reliable. I'm happy to say that my three awesome sites (<a href="http://laughifyouwanttoo.com" target="_blank">Laugh If You Want Too</a>, <a href="http://theeastwing.net" target="_blank">The East Wing</a> and this one) are now hosted with the very trust worthy <a href="http://mediatemple.net/" target="_blank">Media Temple</a>. I'm not getting paid for advertising them, I've just really liked the service so far. The hosting is a major upgrade from what I had before and it's very affordable. At the time of writing this, their Grid Service is only $20/month. That's not bad, not bad at all.</p>

<p>I'd also like to give my sincerest thank you to Chris Coyier from CSS-Tricks for <a href="http://css-tricks.com/video-screencasts/46-domains-dns-hosting-and-google-apps/" target="_blank">this screencast</a>. He goes into detail on how to move a domain's DNS to point to Media Temple and how to setup email with Google Apps. It only took me a couple of hours to move everything and get the sites up and running. Real time saver!</p>

<h3>I Have a Job</h3>
<p>I'm really excited to announce that I'm now happily pushing pixels at <a href="http://getworksimple.com" target="_blank">WorkSimple, Inc.</a> I found them in late December via <a href="http://www.authenticjobs.com/" target="_blank">Authentic Jobs</a> and really fell in love with the company and the product. I've been working with them a couple days shy of a month now and it's been an awesome ride. The work I've been involved with has been really challenging and exciting and I also have the privilege of working with a great team that I'm learning a lot from.</p>

<p>For example, this week I'm learning HAML and SCSS. If you haven't looked into it, it's revolutionary. It'll change the way you code forever. Now, I might be late to the party on this one but, I was completely geeking out the other day when <a href="https://twitter.com/#!/kenearley" target="_blank">Ken</a>, one of our front-end devs, was giving me a crash course. I owe him tons of money now for allowing me to pick his brain. I highly recommend reading <a href="http://www.alistapart.com/articles/getting-started-with-sass/" target="_blank">this article</a> if you're interested in Sass. I'm telling you, it's absolutely revolutionary.</p>

<h3>The East Wing</h3>
<p>People, keep an eye out for <a href="http://theeastwing.net" target="_blank">The East Wing</a>. Things are really revving up for this. I'm really excited and hope you are too. At the moment we have guests lined up for Episodes 1-5 and trust me, we'll be talking to some awesome people, like <a href="http://www.linkedin.com/in/benmoore" target="_blank">Ben Moore</a>, <a href="http://kennedysgarage.com/" target="_blank">Chris Kennedy</a>, <a href="http://nikibrown.com/" target="_blank">Niki Brown</a> and <a href="http://zerply.com/justinstyle/" target="_blank">Justin Style</a>, just to name a few. It'd be a real shame for you to miss out on this so, head on over to the website and sign up for our newsletter. We'll be launching February 15th so, put it in your calendars!</p>

<p>If you're interested on being on the show and you're working on an interesting product or project, email us at <a href="mailto:hello@theeastwing.net">hello@theeastwing.net</a> and I promise to respond as soon as possible.</p>

<p>As always, thank you for reading and if you have thoughts you'd like to share, give me a shout on <a href="http://twitter.com/timothybsmith" target="_blank">Twitter</a>.</p>
