---
layout: post
title: An Intro to SCSS
categories: videos
status: publish
custom_type: video
published: true
alias: /videos/an-intro-to-scss
hidden: true
video-embed: <iframe src="http://player.vimeo.com/video/51548202?title=1&amp;byline=1&amp;portrait=0"
    width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen
    allowFullScreen></iframe>
---
I've been promising this video for a long time and I finally had time to doing it. Hope this helps some of you!

<h3>Show Notes</h3>
<ul class="show-notes">
<li><a href="http://www.codeschool.com/courses/assembling-sass" target="_blank">Code School, Assembling Sass</a></li>
<li><a href="https://speakerdeck.com/u/bermonpainter/p/css-pre-processors-stylus-less-sass" target="_blank">CSS Pre-Processors: Stylus, Less &amp; Sass</a></li>
<li><a href="http://theeastwing.net/episodes/26-bermon" target="_blank">SASSin’ It Up with Bermon Painter</a></li>
</ul>
