---
layout: post
title: Thoughts on Designing for Emotion
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/thoughts-on-designing-for-emotion
hidden: true
---
<img src="{{ site.url }}/uploads/2012/02/emotionpic1.jpg" alt="Designin for Emotion">
<p>I'm a firm believer that the day you stop learning is the day you die. I'd describe myself as a self starter, always looking for new things to learn and existing skills that need refinement. Since I still have lots to live (hopefully), I also have lots to learn.</p>

<p>I went to college for about two years yet, I didn't learn as much as I would've liked or even what I needed to learn. Therefore, I'm mostly self taught. I've spent countless, non-billable hours, experimenting with HTML, CSS and other design and dev personal projects, in an effort to better myself and improve my craft.</p>

<p>Anyway, that's quite a big intro into the real topic of this post. I'd like to give my thoughts on <a href="http://www.abookapart.com/products/designing-for-emotion" target="_blank">Designing for Emotion</a> by <a href="http://aarronwalter.com/" target="_blank">Aarron Walter</a>.</p>

<p>Let's start off by saying that it's absolutely awesome. If you've read the other books that <a href="http://www.abookapart.com/" target="_blank">A Book Apart</a> has published, you'd expect nothing less so, let me convince you why.</p>

<h3>Content</h3>
<p>The content of this book is great. Aarron know's what he's talking about and that comes across every sentence you read. The extensive research is evident and each statement, study and example convince you more that this is the right way of designing for the web.</p>

<p>After reading this book, as with a lot of the different articles I read, I realize how much I still have to learn and put into practice. For me, it's exciting to see how I can improve and quickly implement these techniques into my work.</p>

<p>The prevalent theme is to inject personality into a website. Aarron emphasizes that a website is human too and offers logical ways to make this happen. Designing personas is an amazing idea and just one of many practical tips he offers. Anyone working on a product needs to read this. It's guaranteed to bring the level of work you produce to the next level.</p>

<p>Something interesting to note about this book is the constant studies of psychology and the human brain. This was especially helpful as many of the studies are something I would've never imagined to research and have really helped me understand how we, as humans, respond and react to design. Aarron explains that we make decisions on emotion not logic; interestingly, making designing for emotion such a logical choice.</p>

<blockquote>
<p>Surprise is always followed by a proportional emotional response[...] There's not enough time for deep, intellectual contemplation, so the brain relies on emotion to provide a "gut reaction."
<small>Aarron Walter, Designing For Emotion</small></p>
</blockquote>

<h3>Tone</h3>
<p>What I love about <a href="http://www.abookapart.com/" target="_blank">A Book Apart</a> is the tone of the books published. I've read the other books in the collection and it's easy to recognize the way that they want the reader to feel when reading these books.</p>

<p>Aarron's writing style is witty and humorous in all the right places and he is able to explain complex design theory in terms that are understandable and easily applicable. I found myself laughing quite a few times and having lots of "Aha!" moments. He talks about reverse mullets and how that relates to design: party in the front, business in the back. C'mon now, that's hilarious.</p>

<p>It's truly amazing how Aarron not only is able to communicate excellently on these principles but, also putting them into practice in the book itself. The book is designed for emotional response, engaging you every step of the way and urging you to read more.</p>

<p>I want to extend a personal thank you to Aarron. Thank you for writing this book and thank you for helping me do my job better. I owe him much more than what I paid for this book. If you haven't already, do yourself a favor and pick up a copy.</p>

<p><a href="http://www.abookapart.com/products/designing-for-emotion" target="_blank">Buy the Book</a></p>
