---
layout: post
title: Always Changing Things Up
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/always-changing-things-up
hidden: true
---
<p>What a shock that this site got another refresh right? Well, I'm happy to push this new design out. I've been learning a lot in the past couple of weeks and one of those things is SCSS. I can't believe I hadn't used this in my daily workflow before. I was introduced to it at the beginning of this year by my pal <a href="https://twitter.com/kenearley">Ken Earley</a>. It wasn't until recently that I've been working with it more closely and I'm amazed at how much time you can save by using it. I'll be creating a screencast later this week to show you some of the power of SCSS.</p>

<p>Anyway, this new site is built with more semantic code (I'm trying to use elements like <code>header</code>, <code>footer</code> and <code>article</code>) and SCSS. I also think the new design is a lot cleaner and easy to read.</p>

<p>Honestly though, there have been a lot of changes recently, both personally and professionally. Some have been good and others have been bad. It's been tough to deal with some of the mistakes I've made recently but, I chose not to focus on the negative. I want to focus on the positive; how I can make better decisions moving forward and see the benefits of these soon. This is a lot more mushy than I normally am on here but, to sum up, I'm confident that I'm now headed in the right direction and things are looking very bright.</p>
