---
layout: post
title: The East Wing Gets a Refresh
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net
alias: /links/the-east-wing-gets-a-refresh
hidden: true
---
<p>Today I've launched version three of The East Wing theme. I'm excited. I'm excited not only because of the new design (tons of improvements have been made), I'm also excited because of the great attention the show has received and the people that it's helped. When I first started the show, I wanted to learn from people who are much smarter than me. I wanted to find out whatever information I could get so that I could improve. I've learned a lot in the last six months and I'm finally on the way to becoming the designer I want to be.</p>

<p>It makes me happy to see how people have really enjoyed the show. Personally, I've always had a love for broadcasting so this show was a perfect merge of two great passions of mine: broadcasting and design. Even if no one would've ever listened, I would've continued on but, I can't explain how amazing it is to see that the show helps people with their work and inspires them.</p>

<p>The East Wing has some very exciting times on the horizon. I've gotten into a good grove and people enjoy the guests we talk to. If you haven't already, I invite you to listen to the show and take a peek at the new design. I hope it makes the experience better for you when listening and looking for episodes. Thank you from the bottom of my heart for your support.</p>
