---
layout: post
title: Wunderlist 2 is Gorgeous
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.6wunderkinder.com/wunderlist
alias: /links/wunderlist-2-is-gorgeous
hidden: true
---
<blockquote>
  <p>Wunderlist is here to help you get things done. Whether you're planning an overseas adventure, sharing a shopping list with a loved one or simply keeping track of your daily to-dos.</p>
</blockquote>

<p>Earlier last week, 6Wunderkinder released the new <a href="http://www.6wunderkinder.com/wunderlist">Wunderlist 2</a>. I had never used any of their products before but, I'm so glad I finally did. Wunderlist 2 is an amazingly well-made app. The polish and simplicity is great and as you'd expect, you can reach your lists and to-do's from anywhere.</p>

<p>If you, like me, like to keep track of the things you need to get done and love gorgeous UI's, you need to get your hands on Wunderlist 2.</p>
