---
layout: post
title: '.net Magazine: Mike Monteiro on Handling Clients'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.netmagazine.com/interviews/mike-monteiro-handling-clients
alias: /links/net-magazine-mike-monteiro-on-handling-clients
hidden: true
---
<blockquote>
  <p>When I walk into a pitch I have no idea how to solve a client’s problem, but I’m confident that I have a process for figuring it out. It’s the process that you pitch. Not the solution.</p>
</blockquote>

<p>This is such an awesome answer. I feel like we can be quick to give or offer solutions to problems when we haven't actually done the research. As designers, we need to stick to our process and make sure it's in place in every project we work on. It's the only way we can truly solve problems.</p>
