---
layout: post
title: Progress on Make Awesome
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/progress-on-make-awesome
hidden: true
---
<img src="{{ site.url }}/uploads/2012/10/ma1-hero.png" alt="Layout Preview" />

<p>So this a quick update on Make Awesome. I've started to set deadlines for myself so that I actually start getting things done. My Kickstarter video will be up this week come hell or high water. I'd love to see how much interest there is around the idea. For me, it'd be a dream come true to get this published and in the hands of people.</p>

<p>I've chosen the typefaces for the project, which will be <a href="http://www.bariol.com/">Bariol</a>, <a href="http://www.myfonts.com/fonts/type-together/skolar/">Skolar</a> and <a href="http://pictos.cc/font/">Pictos</a> for the icons. I've worked with Skolar before on the web and it's a beautiful typeface that works very well with extended copy. Bariol is also a beautiful typeface and gives the publication and formal yet casual feel at the same time. Pictos is also a great icon font designed by <a href="http://drewwilson.com/">Drew Wilson</a> that has the style I was going for.</p>

<p>If you'd like to see a layout I had worked on, you should <a href="http://dribbble.com/shots/750642-Progress">look at this</a>. I've changed the layout of it already but, the color and style is pretty defined. It's interesting how I've been creating online editorial environments for most of my career yet I've had to learn how to create one for print. The whole mentality is different. Leave a comment with your thoughts on the layout!</p>
