---
layout: post
title: An Email Can Make Your Day
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/an-email-can-make-your-day
hidden: true
---
<blockquote>
  <p>Hey Tim,</p>
  <p>Just wanted to say I love your show. I'm a newer web designer (1.5 years) and former tv news videojournalist so I got to work with a lot of reporters and conduct a lot of interviews as well. From both angles you do a great job of getting guests to open up and share their knowledge and experience.</p>
</blockquote>

<p>This morning, I woke up to that email. It made my day. This is not an effort to inflate my ego. What made my day was that he is finding my rinky-dink show useful. He's enjoying the guests and it's my hope that the show is helping him learn a thing or two in his new industry.</p>

<p>For me, it just drills home that if you're nice and you work hard, great things happen. The show has helped me personally in so many ways and I'm so glad it helps others too.</p>
