---
layout: post
title: Update to the Feed
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/update-to-the-feed
hidden: true
---
<p>Hi Everyone! So I deleted the old feed and created a new one. Why? The old one had ads on it back when I believed in “monetizing” everything (I was so stupid). The problem was, I couldn’t delete the ads anymore. I had done some type of intricate who-knows-what and was now stuck. The only way out was to delete the feed and start fresh so that’s what I did. You can now subscribe to the new feed <a href="http://feeds.feedburner.com/timothybsmith">here</a> or with the RSS link above. As always, thanks for reading!</p>
