---
layout: post
title: Look Ma! I Own a Company!
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/look-ma-i-own-a-company
hidden: true
---
<p>Today was the quite the interesting day. I'm officially the owner of Anythin' Goes LLC. I'm a business owner and that freaks me out.</p>

<h3>The Reason Behind the Name</h3>

<p>I chose Anythin’ Goes because I want it to be the parent company over my different projects. I'm not only doing design work, I host a <a href="http://theeastwing.net">podcast</a> and soon (hopefully) I'll be publishing a <a href="http://makeaweso.me">magazine</a>. </p>

<p>I don't know exactly what lies in the future for me or the company but I'm excited to find out and I hope you'll come along for the ride. I think this is all for the best. I feel like finally things are turning around and I'm headed in a good direction, both in my life and career.</p>
