---
layout: post
title: New East Wing Episode with Bermon Painter
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/26-bermon
alias: /links/new-east-wing-episode-with-bermon-painter
hidden: true
---
<p>I had the honor of talking with <a href="http://bermonpainter.com/">Bermon Painter</a> who gave an excellent talk about CSS Pre-processors at <a href="http://frontenddesignconference.com/">The Front-End Conf</a>. He's a real cool and smart guy and the episode turned out to be really educational.</p>
