---
layout: post
title: Being Honest About iOS 7
categories: articles
status: publish
published: true
custom_type: post
alias: /articles/being-honest-about-ios-7
hidden: true
---
<p>I love Apple. I’ve loved Apple for years, but I think it’s time to stop sucking up and defending them on iOS 7.</p>

<p>When Apple announced iOS 7 at WWDC, there was a lot of —in my opinion— unnecessary and premature backlash. Nobody had used it, and the whole WWDC keynote aftermath, was one of the greatest examples of <span style="color: #aaa;">#firstworldproblems</span>.</p>

<p>On the other end of the spectrum, were people whom I greatly respect, yet seemed to be blind to the obvious issues with the new OS.<sup id="fnref-1596:1"><a href="#fn-1596:1" rel="footnote">1</a></sup></p>

<p>I’ve been using iOS 7 for about three weeks now, and I stand by my statement that it’s a great foundation for developers to build on. There are a lot of new interactions which seem logical, and you can feel the attention to detail in some areas. I’m positive that designers and developers are working hard to implement the new look and feel, in a way that works well for their applications.</p>

<p>However, the apps made by Apple are extremely rough around the edges, and a lot of the new aesthetics are downright horrible. Accessibility is an issue in many places, and I’m worried to hear the reaction of my color-blind father, whom I spent most of my adolescent life convincing, that Apple was the pinnacle of design.</p>

<p>For years, iOS has been the best mobile operating system, and the easiest to learn. Babies and the elderly alike, knew how to use it. I fear this is no longer the case.</p>

<p>I wonder whether my opinion is clouded by human’s natural opposition to change, although I find this highly unlikely.  What’s worse, is that this whole thing has <a href="/links/apple-applies-for-iwatch-trademark">made me skeptical</a> —and I’m sure others as well— on the future of Apple and the quality of its products.</p>

<p><strong>My message to Apple is this:</strong></p>

<p>You know I love you. I’ve managed to convince most of the people in my life to buy your products, but you can do better than this. You are not the company influenced by the trends of others, you set them. Get your act together, and make the amazing products I know you can make.</p>

<div class="footnotes">
<ol>

<li id="fn-1596:1">
<p>Loving Apple doesn’t mean you have to agree with them on everything, people.&#160;<a href="#fnref-1596:1" rev="footnote">&#8617;</a></p>
</li>

</ol>
</div>
