---
layout: post
title: CSS Guidelines by Harry Roberts
categories: links
custom_type: link
custom_url: https://github.com/csswizardry/CSS-Guidelines
alias: /links/css-guidelines-by-harry-roberts
hidden: true
---
<p>This is a pretty awesome guide on writing better CSS. I recently used a lot of these methods in a project, and while I don’t agree with all of them, I’ve seen how awesome it can be to take CSS organization to a whole other level.</p>

<p>This, together with a system I’ve recently implemented, has made my CSS a lot more modular and easier to work with.</p>
