---
layout: post
title: Launching Version 6
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/launching-version-6
hidden: true
---
<p>Early last week, I launched version six of this site. I honestly don't know if that version number is correct, because in the early days, I redesigned this site a lot more than I do now; I was sixteen, and procrastinating on my homework.</p>

<p>Nothing has changed, now I just procrastinate on work. Ha!</p>

<p>Anyway, this redesign is a huge one. If you browse the site, you won't see huge content changes. The portfolio is the same, the about page as well. The biggest content change takes place on the contact page with the new form. I'm using <a href="http://www.gravityforms.com/">Gravity Forms</a> to power it.</p>

<p>The form is using conditional logic, and displays different inputs based on what you're contacting me for. I'm hoping that this new form makes it easy for people to get in touch, and encourages people to just say hello. I like getting those types of emails.</p>

<p>You'll notice that this new form also has a speaking engagements option. This is something I'm very interested in pursuing, and again, I hope this new form will facilitate that conversation with conference organizers.</p>

<h3>Under the Hood</h3>

<p>Over the years, I've tried to make it very easy to update the content on this site. I noticed that I came across a lot of links that I wanted to share a bit more "permanently" than just on Twitter. I also noticed that I didn't always have time to flesh out an article, but I wanted to add my thoughts to them. The link and video post formats have been perfect for this.</p>

<p>A huge pain point was the portfolio section. In the past, I'd gotten lots of criticism from potential employers for not having a portfolio. With NDA's, designs not being used, or only participating on parts of projects, I didn't really have much to show. Plus, I wasn't to keen on showing the early crap I had done on my own. Finally, while working at <a href="http://www.lullabot.com/">Lullabot</a>, I was able to lead two projects that I was very proud of and I created my portfolio.</p>

<p>On the front end, it looked beautiful. I received some very nice compliments of my work and the way I chose to display them. However, on the back end, I was using pages for all of it. Essentially, I had pages nested within pages in WordPress. I had to hack it together, and if I did something incorrectly, the whole thing would break. Plus, I was using a whole bunch of custom fields, and it was just getting out of hand.</p>

<p>I decided it was time to conquer my fear of custom post types and get this done. Now, I'm using a custom post type for the portfolio and Advanced Custom Fields together, and everything is running smoothly and efficiently. If you don't know about custom post types, you should sign up for the <a href="http://timlikestoteach.com/">Tim Likes to Teach Newsletter</a>. I'll be covering it in the next course.</p>

<p>The last pain point was the about page. You'll notice that this page contains a list of my interviews and published articles. In the previous version, this was a page template that had been hard coded. Meaning that every time I wanted to add a new article or interview, I had to open up the file, add a new list item, git commit, and push.</p>

<p>I'm now using the <a href="http://www.advancedcustomfields.com/add-ons/repeater-field/">repeater field</a> to handle this. I've created fields for the name of the interview or article, the publishing date, and where it was published, and Advanced Custom Fields and Wordpress takes care of the rest. Easy.</p>

<h3>Wrapping Up</h3>

<p>That's the rundown of the new site. If some of these concepts are new and or difficult for you, please sign up for the Tim Likes to Teach Newsletter. I promise to explain them in an easy way. The docs can sometimes be difficult to understand.</p>

<p>Please take a look around, have a cookie, and let me know what you think.</p>
