---
layout: post
title: I Don’t Know What I’m Doing
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/i-dont-know-what-im-doing
---
<p>This is a phrase I’m getting into the habit of saying more. It's completely true, and the more I say it, the more benefit I seem to get out of it.</p>

<p>I don’t know why, but as humans, we like to give the illusion of having knowledge; whether it be true or not. I know I do. I love making people feel like I know what's going on and how to handle a situation.</p>

<p><strong>I don’t.</strong></p>

<p>Instead, I’ve tried to be more open about the things I don't know and I've been very happy with the results. The great part of admitting ones shortcomings, is the opportunity it creates for learning. You’d be amazed how willing people are to give help and advice. It's my belief that with a little humility, and a willingness to learn, there is nothing you can't accomplish.</p>

<p>What are you admitting to not knowing today?</p>
