---
layout: post
title: Tim Cook at D11
categories: links
status: publish
custom_type: link
published: true
custom_url: http://allthingsd.com/20130529/apples-tim-cook-the-full-d11-interview-video/
alias: /links/tim-cook-at-d11
hidden: true
---
<p>This interview in a lot of ways is ridiculous. Walt and Kara went a bit to the extreme in trying not to show any bias towards Apple, and instead were a bit harsh. Although, I can understand how difficult it must be to conduct an objective and unbiased interview with the CEO of arguably the best technology company at the moment.</p>

<p>Tim seems very confident in Apple and it's future, and why wouldn't he? Their stock price has nothing to do with the success Apple has reached, nor does it say anything about the legacy they've already created for themselves. Anyone who follows Apple knows that they're working on something big, and their silence only guarantees that.</p>

<p>More about this on tomorrow's <a href="http://www.ssktn.com/category/tltb/">Too Lazy to Blog</a>. Catch us <a href="http://www.ssktn.com/live">live</a> at 3pm Central Time.</p>
