---
layout: post
title: Stop Working (So Hard)
categories: links
status: publish
custom_type: link
published: true
custom_url: https://medium.com/i-m-h-o/ef4772e3c628
alias: /links/stop-working-so-hard
hidden: true
---
<blockquote>
  <p>What did The Hustle™ accomplish? I gained weight. I wasn’t spending enough time with my (now) wife. I felt like shit. I began to resent my work, and the work I was producing clearly wasn’t my best. I started cutting corners. I went from a mindset of shipping with quality and integrity to “when is this going to be over?”</p>

  <p>[…]</p>

  <p>If your colleagues, clients, or bosses don’t get why working less is a better idea, leave. There are far better places to be than at a company that values quantity over quality.</p>
</blockquote>

<p>I absolutely love articles like this. Actually, I love people who think like this. It's been my experience that working a lot, doesn't mean you're producing a lot. Over time, I've tried to work smart, and try to get more done in a smaller amount of time.</p>

<p>This article hits home a bit closer today as I try to loose weight. Two years have gone by, and I've gained 100 lbs. Why? Because I was so focused on work, I forgot that it's only the means to live my life; <strong>not the reason</strong> to live life.</p>

<p>If you haven't, you <a href="https://medium.com/i-m-h-o/ef4772e3c628" title="Link to Stop working (so hard)">should read the original article</a>.</p>
