---
layout: post
title: 'Too Lazy to Blog: We Don’t Know About the UK'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.ssktn.com/tltb/we-dont-know-about-the-uk/
alias: /links/tltb21
hidden: true
---
<p>This week, Myke Hurley fills in for Adam to talk Tim Cook’s apperance at D11, Apple buying rights to sports broadcasts, Marco selling The Magazine, and the HTC One release.</p>

<p><em>We're looking for <a href="http://www.ssktn.com/sponsorship/">sponsors</a>.</em></p>
