---
layout: post
title: My First Product Launches
categories: links
status: publish
custom_type: link
published: true
alias: /links/my-first-product-launches
custom_url: http://timlikestoteach.com/
hidden: true
---
<p>Yesterday was an exciting day for me. I launched my first product. I might add, that I took my own advice and charged for it from the beginning, which is something I'm also very excited about.</p>

<p>I've been working hard for a couple of months to create an introductory course for <a href="http://timlikestoteach.com/">Tim Likes To Teach</a>. When I say introductory, I don't mean in skill level. It's introductory in the sense that it will acquaint you with the site, the type of content and perks that come with each course. This course is a six-part series that spans more than six hours of content. It covers best practices in HTML, CSS and more. We cover the markup necessary for the design, yet we also talk about <em>why</em> we mark it up in that way. At least in my experience, that has so much value.</p>

<p>In the future, I'll be creating other courses. You might have heard that one of these will feature a complete redesign of <a href="http://theeastwing.net/">The East Wing</a>. I hope you'll subscribe to the newsletter so you're always in the know of the latest course. To those of you who purchased the first series, or if you plan to, my sincerest of thank you's.</p>

<p>If there is something you'd like to learn about, I hope you'll let me know!</p>
