---
layout: post
title: Launching the New Rocket Lift
categories: links
status: publish
custom_type: link
published: true
custom_url: http://rocketlift.com/design-ux/giving-rocket-lift-a-facelift/
alias: /links/launching-the-new-rocket-lift
hidden: true
---
<p>Today is an exciting day at Rocket Lift. We've been working very hard to get this new site up. I'm really proud of the work I did, and the team did. I think it'll propel Rocket Lift to a new level, and show to potential clients, the company that we actually are.</p>

<p>You can read more about the redesign <a href="http://rocketlift.com/design-ux/giving-rocket-lift-a-facelift/">here</a>.</p>
