---
layout: post
title: My Definition of Success
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/my-definition-of-success
---
<p>It's 2013. Another year has come and gone in what seems to be a blink of an eye. For me, it's been a bittersweet year full of mistakes and achievements. As I look back on 2012, I will forever remember it and its many ups and downs.</p>

<p>However, with a new year, comes a feeling of excitement; a feeling of starting anew, where we all begin at zero and where we have the hope to set and reach new goals. At least for me, the goals seem to be the same for every year: lose weight, get up earlier, etc.</p>

<p>Recently, I've had the time to think a lot about these goals and my life. My first reaction was to get upset and angry at myself for not accomplishing these seemingly simple goals. Yet, I've come to the realization that keeping hope and not giving up on these things are in and of itself a feat. I've realized that the effort says as much and maybe more about a person than the results.</p>

<p>It's only normal to think the other way though. We've grown up in a society that measures results; whether it be money, statistics or championships. What about the hard work behind these results? And the work of those that didn't reach them? Are their efforts of any less value? What about us?</p>

<p><em>It makes no sense to measure our results by someone else's definition of success</em>.</p>

<hr />

<p>This past year has been rough for me. I've made bad personal decisions, I quit a job that I loved and was fired from the one I quit for. I was left with no savings, a new apartment lease and a hefty car payment. All while being more than 1,600 miles away from my family in a place where below zero temperatures are normal during the winter.</p>

<p>For a while I was content with saying my life sucked and calling it a day. That's no longer the case. It goes against my nature to be this way. I'm an optimist and I know that things always find a way to work out. But, you've got to put in the work. I refuse to be of the people that are only happy when success is handed to them.</p>

<p>With that said, here are my goals for this year:</p>

<ol>
<li><p><strong>Lose Weight</strong><br />
Like I've said before, this is something I've been trying to do forever. I need to eat more vegetables, fruit and less sweets. I just got myself a gym membership too.</p></li>
<li><p><strong>Pay Attention to the Relationships that Matter</strong><br />
I love my family. I love my friends. I need to spend more time with them. At the end of the day, these are the things that make you happy and that really matter in life.</p></li>
<li><p><strong>Speak on Design</strong><br />
I'd really like to speak more in 2013. I did one talk at my local meet up last year and it went great. I'd be a great speaker for any event. Don't believe me? <a href="http://theeastwing.net">Listen to my podcast</a>.</p></li>
<li><p><strong>Work Less</strong><br />
For many, this might seem like a dumb goal if you're trying to be successful but, again, who's definition are we measuring it to? I'd like to work just enough to pay my bills and use the rest of my time for other important things.</p></li>
<li><p><strong>Travel More</strong><br />
I'm single and in the prime of my life. I need to get out of my apartment more and get back to exploring the world one cup of coffee at a time.</p></li>
</ol>

<p>So these are the goals I hope to accomplish in 2013. If I don't accomplish them all, there's always 2014. The point is to never give up on your goals, nor on yourself.</p>

<p>What about you? What do you want to accomplish?</p>
