---
layout: post
title: New Episode of The East Wing with Adam Clark
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/56
alias: /links/new-episode-of-the-east-wing-with-adam-clark
hidden: true
---
<p>This week I talk with Adam Clark. Adam is a developer and superb podcaster. We talk about how he got into the web, taking risks in business, and starting his first podcast.</p>

<p><em>Sponsored by <a href="http://slideandstage.com">Slide + Stage</a></em>.</p>
