---
layout: post
title: 'The East Wing: You Have Your Own IMDB Page with Paul Armstrong'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/58
alias: /links/the-east-wing-58
hidden: true
---
<p>This week I talk with Paul Armstrong. Paul is a designer, photographer, film writer, and actor. He has such an interesting mix of skills and talents, and we had the chance to talk about where they intersect, iOS, working on meaningful problems, and more.</p>

<p><em>Sponsored by <a href="http://slideandstage.com">Slide and Stage</a> and <a href="http://theeastwing.net/blendconf">Blend Conf</a>.</em></p>
