---
layout: post
title: Apple Applies for iWatch Trademark
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.theverge.com/2013/7/1/4481860/apple-applies-for-iwatch-trademark-in-japan
alias: /links/apple-applies-for-iwatch-trademark
hidden: true
---
<blockquote>
<p>Following months of reports about Apple’s upcoming foray into wearable electronics, the company is now seeking to trademark “iWatch” in Japan, reports Bloomberg.</p>
</blockquote>

<p>This is so exciting. I think Tim Cook made it clear that Apple was interested in this space. However, after iOS 7, I’m skeptical on how well this thing will look and work. I really hope Apple proves me wrong.</p>
