---
layout: post
title: It’s Not That Complicated
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/its-not-that-complicated
hidden: true
---
<p>When I first got into this industry, things were a lot simpler. We didn’t worry about designing responsively, and there were no “mobile strategies”.</p>

<p>The iPhone hadn’t even come out yet. My workflow consisted of designing in Photoshop, slicing the design into tons of PNG’s, and coding all of this up in Dreamweaver.<sup id="fnref-1511:1"><a href="#fn-1511:1" rel="footnote">1</a></sup></p>

<p>I’m glad we’ve come so far in the past years. I feel like we’ve collectively improved the web a lot. People involved in web projects are thinking about process, strategy, user experience, and a whole lot more.</p>

<p>Yet, for graduating students, or anyone else barely entering our industry, I can see how it could seem overwhelming. Every day, there seems to be a new technology we should be learning, or articles explaining something we’re not paying attention to. Job postings don’t really help. A lot of these postings use big words, and the whole hiring process can be very intimidating.</p>

<p>As someone who’s been in his fair share of interviews, don’t let these intimidate you. Every time I started a new job, I’d get nervous that I wouldn’t be able to do it. Yet, I’ve learned that the web can be complicated, but if you’re hard working and eager to learn, everything else can be taught.</p>

<p>So if you’re feeling stressed, take a break. Think about something else. When you get back, try your best. That’s really the only thing you can be asked for.</p>

<div class="footnotes">
<ol>

<li id="fn-1511:1">
Thankfully, I never made anything with tables. Although, it does give some type of street cred to say you did.&#160;<a href="#fnref-1511:1" rev="footnote">&#8617;</a>
</li>

</ol>
</div>
