---
layout: post
title: My Article on the Treehouse Blog
categories: links
status: publish
custom_type: link
published: true
custom_url: http://blog.teamtreehouse.com/better-freelance-business-practices
alias: /links/my-article-on-the-treehouse-blog
hidden: true
---
<blockquote>
  <p>Freelancing is regarded as the holy grail in our industry. It’s something most people look to as a magical fantasy land where all dreams come true. However, being a freelancer can be very difficult if you don’t know much about the business of design.</p>
</blockquote>

<p>About a month ago, my buddie Josh Long asked if anyone was interested in contributing to the Treehouse blog. Since I have a constant need to feel &amp; sound smart, I jumped at the chance! Today, my first article went live. I talk about some things I've picked up related to the business of design.</p>

<p><strong>Enjoy!</strong></p>
