---
layout: post
title: My Article on The Branch
categories: links
status: publish
custom_type: link
published: true
custom_url: http://thebran.ch/articles/exploration
alias: /links/my-article-on-the-branch
hidden: true
---
<blockquote>
  <p>Inspiration is not only the way you think; it's why you think that way. It's a feeling. It's the feeling you get before you work on something for hours. For me, it's the moment I know I'll need a fresh cup of coffee.</p>
</blockquote>

<p>A couple of weeks ago, I was asked by James, the Editor of The Branch, to write an article about this simple question: What inspires you? I've always had a difficult time responding to that question but, I feel the article does a good job of exploring what my answer is. Hope you find my thoughts useful.</p>
