---
layout: post
title: New Episode of The East Wing with Sara Wachter-Boettcher
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/43-sara
alias: /links/new-episode-of-the-east-wing-with-sara-wachter-boettcher
hidden: true
---
<p>This week on The East Wing, I had the absolute pleasure of talking with Sara Wachter-Boettcher. Sara is a Content Strategist, Author of <a href="http://rosenfeldmedia.com/books/content-everywhere/">Content Everywhere</a>, Editor of <a href="http://alistapart.com">A List Apart</a>, speaker, and a down-to-earth gal. I had the chance to ask her about content strategy and where it fits within the process of making a website, writing a book, the editorial process at A List Apart, and much more.</p>
