---
layout: post
title: 'The East Wing: Write Your Own Thing with Marco Arment'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/59
alias: /links/the-east-wing-59
hidden: true
---
<p>This week: I talk with Marco Arment about how he got started, getting the job at Tumblr, Instapaper, The Magazine, and the future.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conference</a>. Use ‘eastwing’ at checkout for 30% off.</em></p>
