---
layout: post
title: Tim Likes to Teach Get’s a Redesign
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/tim-likes-to-teach-gets-a-redesign-2
hidden: true
---
<p>Today, I launched the new <a href="http://timlikestoteach.com">Tim Likes to Teach</a>. This redesign has been in the works for about three months. Not a huge amount of time, but considering that when I started, it was only supposed to be a minor update, it ended up taking quite a while.</p>

<p>I&#8217;m very proud of this new design, and if you&#8217;re an existing customer, I think you’re going to love it. The old site had quite a bit of pain points, and I think this new design addresses them very well.</p>

<p>The beauty of this redesign is, I’ve improved the back-end to make it easy to add new courses and videos. I&#8217;m new using a custom post type for courses and course videos, then connecting them with a plugin called <a href="http://wordpress.org/plugins/posts-to-posts/">Posts to Posts</a>. </p>

<p>The experience has greatly improved on the front-end too. In the past, videos were on a page and some couldn’t even find them. <strong>It was totally my fault</strong>. When I first designed the site, the plan was to have you download all the video files, so the design didn&#8217;t work when that plan didn&#8217;t work. </p>

<p>Now, I feel the site has a good flow to it. Breadcrumbs do a good job of helping you remember where you are, and give quick access to the course homepage. </p>

<h3>A New Course</h3>

<p>As promised, I’ve started to post videos for the new course “Redesign a Podcast Website”. Lots of people have showed interest in this project since there are some interesting design and development problems to solve.</p>

<p>This course is currently in progress, and I&#8217;m recording and adding new videos everyday.</p>

<h3>A New Business Model</h3>

<p>As most of you know, I&#8217;m now <a href="http://ttimsmith.com/articles/the-future-of-tim-smith">full-time on my own projects</a>, so I&#8217;m looking for ways to generate enough income to sustain myself. With that in mind, Tim Likes to Teach has moved to a subscription model. </p>

<p>For only $8.99/month, you get access to all courses and respective downloads. There is a formal plan for future courses, and I&#8217;m already doing pre-production on these.</p>

<p>Again, I hope you love this new design. As always, my goal remains the same: to help people learn the web with their friendly internet pal, me. </p>
