---
layout: post
title: World’s First Lab-Grown Burger Unveiled
categories: links
custom_type: link
custom_url: http://www.theverge.com/2013/8/5/4589744/cultured-beef-burger-public-tasting-mark-post-sergey-brin
alias: /links/worlds-first-lab-grown-burger-unveiled
hidden: true
---
<blockquote>
  <p>The 5-ounce “cultured beef” burger was constructed from 20,000 protein strands grown from cow stem cells. The strands were compiled over the weekend and removed from a deep freezer on Monday. It cost $325,000 to produce, and was financed entirely by Google co-founder Sergey Brin.</p>
</blockquote>

<p>That’s one expensive burger.</p>
