---
layout: post
title: New Episode of The East Wing with Trent Walton
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/39-trent
alias: /links/new-episode-of-the-east-wing-with-trent-walton
hidden: true
---
<p>This week on The East Wing, I had a chance to talk with Trent Walton. Trent is the guy behind the awesome art directed articles on his <a href="http://trentwalton.com">personal site</a> and is one-third of <a href="http://paravelinc.com/">Paravel</a>. He's a really great guy and it was nice chatting about how he got into design and the early troubles of Paravel.</p>
