---
layout: post
title: The East Wing Gets a Redesign
categories: links
custom_type: link
custom_url: http://theeastwing.net/
alias: /links/the-east-wing-gets-a-redesign
hidden: true
---
<p>I’m so happy to let you know that The East Wing received a new coat of paint. For those of you interested in learning how I did this redesign, I made it all into a <a href="http://timlikestoteach.com/courses/redesign-a-podcast-website/">Tim Likes to Teach course</a>.</p>

<h3>What Has Changed</h3>

<p>There were a quite a few problems I had with the old site, and I feel like these have been addressed with this new design.</p>

<ol>
<li><strong>No More Truncated Titles</strong><br />
A lot of people complained about the truncated titles. I totally agree with this, and in fact, I’ve completely changed the episode naming convention to just the name of the guest. Before, I was trying to do a clever title, but I felt it just wasn’t working with the type of show The East Wing is. </li>
<li><strong>Better Typography</strong><br />
I didn’t really like the type of the previous site. In some cases, I felt it was too big, and often overpowering. The new type is so much nicer, and works well on the whole site, instead of just the episode pages like the previous design.</li>
<li><strong>Emphasis on the Guest</strong><br />
The old design had a picture of the guest on the index page. This new design also has the picture on the episode page. It’s a small detail, but I like the fact that you can always associate the voice with a face.</li>
<li><strong>Improved Back-end Capabilities</strong><br />
Like I’ve said before, when redesigning a site like this, it’s so important to improve the publishing workflow. I created a new custom post type for the new <a href="http://theeastwing.net/offair">Off Air</a> show, and added an easy way to link each Off Air episode with its corresponding East Wing episode.</li>
<li><strong>Better Forms</strong><br />
In the past, the forms on the <a href="#">Contact</a> and <a href="#">Sponsorship</a> pages were created from some snippets I’d found. <strong>They sucked</strong>. The forms are now powered by <a href="http://www.gravityforms.com">Gravity Forms</a> and allow for some awesome features.</li>
</ol>

<p>I’m so proud of this new design, and I hope you like it too. If you listen to the show live, I think you’ll like some new improvements on the front as well. I’d love to hear what you think of the new design.</p>
