---
layout: post
title: Dealing with Insecurities
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/dealing-with-insecurities
---
<p>I'm not one to suffer of low self-confidence much, but like everyone else, I have my moments. And this is one of them. I'm insecure; I'm scared; I'm worried.</p>

<p>The past eight months have been interesting. I left a great job for more money somewhere else, and was subsequently fired. I made personal decisions that hurt my family, and those who love me. To say the least, when I felt that everything was going well, the rug was pulled from under me.</p>

<p>I've suffered the consequences of these bad decisions, yet grown in ways I couldn't have imagined. I've become confident with the person I am, proud of the person I've become, and am becoming.</p>

<p>I’ve become a person that thinks about saving money. A person that doesn’t take decisions motivated by greed, but instead with humility and a goal to keep things simple. Someone who understands that my decisions affect others, and to think otherwise is selfish. And what real love is, and how what you do says so much more than anything you could possibly say.</p>

<p>That said, I deal with the feelings of regret everyday. Why did I let money cloud my good judgement? Why do I miss that company so much when they don’t seem to miss me at all?</p>

<p>I also feel like one day, someone’s going to figure out I’m a complete fraud. Someone’s going to find out that I don’t really know what I’m doing, that my code sucks, or that there’s really nothing special about the design work I do.</p>

<p>Years ago, I thought these feelings of regret and fraud would go away. That a day comes when you don't care what anyone else says or thinks, you just produce great work, and you're happy. That one day, you don’t seek the validation of others. You don’t care about web traffic, or the praise and/or acceptance of your heroes.</p>

<p>Turns out that, this doesn’t just happen. You have to work at it. As silly as it seems, I’ve had to actively remind myself not to care. I’m constantly having to tell myself that my mistakes don't define me, they inform the person I am. I've had to force myself not to think of the "what-ifs" in life, but to accept that the past cannot be changed, and that the only way to look is forward.</p>

<p><strong>However,</strong> there are moments, where all of these things, that I know to be logically true, go out the window, and we end up where I started this post.</p>

<p>There are moments when, even though I portray to know what I'm doing, I really don't. I have no freaking idea. I'm winging it, and waiting for people to find out.</p>

<p>The job search makes these feelings even stronger. Was I right to quit? Do I just have a huge ego? What if I end up under a bridge somewhere?</p>

<p><strong>So what happens next?</strong></p>

<p>The truth is, I don’t know how to “cure” these feelings. What I do know, is that they won’t stop me. There’s no point in allowing yourself to grow stagnent, you have to keep moving forward, and pushing your own boundaries. Sometimes that’s really scary, but I always think that if it’s not scary, you’re not doing something right.</p>

<p>Vulnerability is frightening, and most people find it to be a weakness. I disagree. Being vulnerable —those moments when you lay everything you’ve got on the table— is when you can truly grow and become a better version of yourself.</p>

<p>I’ll continue to deal with insecurities, but they won’t be calling the shots.</p>
