---
layout: post
title: Celebrate Your Achievements
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/celebrate-your-achievements
hidden: true
---
<p>Just the other day, I noticed that I had been nominated for an <a href="http://www.thenetawards.com/">award</a>. I was nominated alongside some amazing side projects, and quite honestly, I think I have no chance of actually winning. I was hesitant at first to even tell anyone I had been nominated.</p>

<p>When I started <a href="http://theeastwing.net">The East Wing</a>, the objective wasn't to win awards. My only mission is to sit down and create a show better than the week before.</p>

<p>I've come to conclusion, however, that it's really important to celebrate achievements in life. Even being nominated for something like this is huge. Life has a way of bringing you down, and if you don't stop to look at the things you're doing well, it can get pretty depressing. I feel like we focus on how to improve so much, that we can forget about all the awesome we're already accomplishing.</p>

<p>I was raised to be humble; to never brag. My belief is that humility is a necessary quality in life. I don't feel this means we shouldn't celebrate our achievements.</p>

<p>The past six months have been some of the worst of my short life; completely because of my poor decisions. The next six months are going to be better. There's little to nothing I can do about the past, so I'm going to allow myself to be proud of the good things I'm accomplishing and more importantly who I am as a person.</p>

<p>Celebrate your achievements people. Take yourself out somewhere nice. Oh… and pictures, or it didn't happen.</p>

<hr />

<p>If you'd like to vote for the .net awards, you can do so <a href="http://www.thenetawards.com/">here</a>.</p>
