---
layout: post
title: 'Sponsor: Blend Conference'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/blendconf
alias: /links/sponsor-blend-conference
hidden: true
---
<p>I’m proud to talk about a new sponsor we have over on <a href="http://theeastwing.net">The East Wing</a>.</p>

<p>Blend Conf is a generalist conference featuring 50 speakers sharing ideas and conversations about user experience design, user interface design, and web development.</p>

<p>Speakers include folks like: Carl Smith, Jason VanLue, Jina Bolton, Meagan Fisher, and more. I’m very honored to have been asked to speak as well. </p>

<p><a href="http://theeastwing.net/blendconf">Register for Blend Conf</a> today with promo code “eastwing” and get 30% off.</p>

<p><em>Thanks to BlendConf for supporting The East Wing.</em></p>
