---
layout: post
title: The Coffee Shop Hypothesis
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/the-coffee-shop-hypothesis
hidden: true
---
<p>Today, I decided to leave my home office and work at the local coffee shop. This is the second time in the past two weeks that I've done this and I've come to a realization: although I spend less time working, I'm producing more.</p>

<p>I really like working remote but, in recent months, being away from the family, I've noticed that my love for it has decreased. I don't see many people during the day and it feels kind of blue. But, I've noticed that the days I go out to the coffee shop or make a lunch plans, are much better days for me. I produce more and generally feel happier about the day.</p>

<p>Have you felt something similar? Do you work from a co-working place? A coffee shop? Or do you like only working from home?</p>
