---
layout: post
title: 'The East Wing: Josh Brewer'
categories: links
custom_type: link
custom_url: http://theeastwing.net/episodes/65
alias: /links/the-east-wing-65
hidden: true
---
<p>This week: I talk with Josh Brewer about his start into design, working at Twitter, trends, and what lies ahead.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conf</a> and <a href="http://git-tower.com">Tower for Mac</a>.</em></p>
