---
layout: post
title: 'Babblenut: There’s Got to Be Something to Fill Those Holes'
categories: links
custom_type: link
custom_url: http://babblenut.com/ep/1/
alias: /links/company-culture-explained
hidden: true
---
<p>About two months ago, <a href="http://paularmstrong.me">Paul Armstrong</a> and I decided we should do a topical show together. Paul is charismatic, personal, and down-to-earth, and in my experience, those are qualities that are difficult to find in someone that’s as smart as he is. It's an honor to do a show with him, and I hope you’ll follow along for the ride.</p>

<p>Ladies and gentlemen, I give you <a href="http://babblenut.com">Babblenut</a>.</p>
