---
layout: post
title: Make Awesome is Now Lustra Magazine
categories: links
status: publish
custom_type: link
published: true
custom_url: http://lustramag.com/
alias: /links/make-awesome-is-now-lustra-magazine
hidden: true
---
<p>I'm so very pleased to let you all know that Make Awesome is now Lustra Magazine. If you recall, back in October I launched a <a href="http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine">Kickstarter project</a> to fund this magazine. I did a horrible video, priced the magazine too high and the project was unsuccessfully funded.</p>

<p>However, I noticed that people loved the idea; they loved the idea of a magazine about people making great things. It is the magazine for and about the underdogs; the people that don't always get the spotlight they deserve. This is definitely a message I could identify with and many others too.</p>

<p><strong>I decided to keep this idea going.</strong></p>

<p>After lots of internal debate, I decided to rename the magazine Lustra. In Spanish, the word "lustre" means to give polish or shine. I felt that this word resonated with the mission I was on with this publication. I changed a letter so it would be a bit easier to pronounce in English and bam! Lustra Magazine was born.</p>

<p>I'm really excited about what's coming and we're very close to confirming the fourth and final interviewee for this issue. I'd like to give a huge thanks to <a href="http://jarederondu.com/">Jared Erondu</a> for assuring me that I had chosen a great new name and for all the help he's given me throughout this project. I'd also like to give thanks to everyone who's been following along, for your support and kind words. I appreciate it so much.</p>
