---
layout: post
title: The New Bytesize is Live
categories: links
custom_type: link
custom_url: http://bytesizenews.co/
alias: /links/the-new-bytesize-is-live
hidden: true
---
<p>I’m so happy to announce that my new show, <a href="http://bytesizenews.co">Bytesize</a>, is live! This new show is a labor of love<sup id="fnref-1922:1"><a href="#fn-1922:1" rel="footnote">1</a></sup>. I’ve been working on the format for quite some time, and figuring out how the show was going to work, what I was going to report on, and how I’d make it different —and maybe better— from the other news shows out there.</p>

<p>The objective of this show is to update you with the most interesting tech, design, and development news each week, yet only take 5–10 minutes of your time. The broadcast is only one part of the show, since you can receive the news straight to your inbox via the newsletter.</p>

<p>I’ve always wanted to host a news program, and I’m finally getting my chance. I hope you like the new show, and that it's useful for you. I’d love to hear what you think. Thank you so much for listening.</p>

<div class="footnotes">
<ol>

<li id="fn-1922:1">
<p>As with all the shows I do.&#160;<a href="#fnref-1922:1" rev="footnote">&#8617;</a></p>
</li>

</ol>
</div>
