---
layout: post
title: New Episode of The East Wing with Sam Kapila
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/52
alias: /links/new-episode-of-the-east-wing-with-sam-kapila
hidden: true
---
<p>This week, I had the pleasure of talking with Sam Kapila. Sam is a Designer and Educator, and from what I can tell, one of the first people to teach Responsive Web Design at a University level.</p>

<p>Now, I know that Responsive get's thrown around a lot as a buzz word, but Sam is working with <a href="http://happycog.com/">Happy Cog</a> and <a href="http://paravelinc.com/">Paravel</a> as her unofficial advisory board. It's great to see the support she's received in Austin for teaching her students the right stuff, and I had a blast talking with her.</p>
