---
layout: post
title: The Making of John Mayer’s ‘Born &amp; Raised’ Artwork
categories: videos
status: publish
custom_type: video
published: true
alias: /videos/the-making-of-john-mayers-born-raised-artwork
video-embed: <iframe src="http://player.vimeo.com/video/60647216?portrait=0&amp;color=ffffff"
    width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen
    allowFullScreen></iframe>
hidden: true
---
<p>I found this video via <a href="https://twitter.com/jasonvanlue">Jason VanLue</a>. The attention to detail is amazing. I envy the talent of people like this.</p>
