---
layout: post
title: 'The East Wing: Jim Dalrymple'
categories: links
custom_type: link
custom_url: http://theeastwing.net/episodes/62
alias: /links/the-east-wing-62
hidden: true
---
<p>This week: I talk with Jim Dalrymple about his beginnings, the new Logic, the future of Apple, and more.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conference</a>. Use ‘eastwing’ when you register for 20% off.</em></p>
