---
layout: post
title: The East Wing Shirts on Sale
categories: links
custom_type: link
custom_url: https://cottonbureau.com/products/the-east-wing-shirt
alias: /links/the-east-wing-shirts-on-sale
hidden: true
---
<p>I completely forgot to mention on this week’s show, that shirts for The East Wing are available for pre-order! We’re selling them through Cotton Bureau, and as you may already know, they require a minimum of 25 shirts to be sold to send it to production.</p>

<p>If you’re a fan of the show, please pre-order a shirt and shared it with your friends, it would mean a lot to me.</p>
