---
layout: post
title: 'Babblenut: I’m in this Brain Dead, Fog, Zombieland'
categories: links
custom_type: link
custom_url: http://babblenut.com/ep/2/
alias: /links/babblenut-2
hidden: true
---
<p>This week: Paul and I talk about self-perception; what it is, how it affects you, and suggestions on what you can do about it.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conf</a> and <a href="http://git-tower.com">Tower for Mac</a>.</em></p>
