---
layout: post
title: The Fear of Saying “No”
categories: links
custom_type: link
custom_url: http://sixrevisions.com/project-management/saying-no/
alias: /links/the-fear-of-saying-no
hidden: true
---
<blockquote>
  <p>Just say No. Don’t use fluffy, doublespeak language. Just say it.</p>

  <p><em>No.</em></p>

  <p>Deny new requests until you have the time and resources to properly look into them.</p>
</blockquote>

<p>We’ve all been there once or twice. The moment when you feel the scope on a project or sprint creeping up. You feel annoyed, but you worry that saying no might get you fired, or ruin a client relationship. This is a good read, check it out.</p>
