---
layout: post
title: Become a Better Designer with Side Projects
categories: videos
status: publish
custom_type: video
published: true
video-embed: <iframe width="560" height="315" src="http://www.youtube.com/embed/_VspTuwGtkk" frameborder="0" allowfullscreen></iframe>
alias: /videos/become-a-better-designer-with-side-projects
hidden: true
---
<p>This is a talk I gave back in April at <a href="http://minnestar.org/minnebar">Minnebar</a>. As many of you know, I have a couple of side projects, and I wanted to help other people see the benefit of these. You can see the slides <a href="https://speakerdeck.com/ttimsmith/become-a-better-designer-with-side-projects\">here</a>.</p>

<p>Let me know what you think!</p>
