---
layout: post
title: Putting Back the Face into Typeface
categories: videos
status: publish
custom_type: video
published: true
hidden: true
alias: /videos/putting-back-the-face-into-typeface
video-embed: <iframe src="http://player.vimeo.com/video/19429698?portrait=0" width="500"
    height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
---
<p>This is such a wonderful interview with Erik Spiekermann. The more I hear him, the more I like him. He seems like such a nice guy with a true passion for design.</p>
