---
layout: post
title: New Episode of The East Wing with Adam Stacoviak
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/57
alias: /links/part-two-with-adam-stac
hidden: true
---
<p>This week, I had the chance to talk with my friend Adam Stacoviak. Adam is a Designer, Developer, and Broadcaster. We talked about building products. They're not easy to create or maintain, and sometimes you have to make tough decisions.</p>

<p><em>Episode sponsored by <a href="http://slideandstage.com">Slide and Stage</a>.</em></p>
