---
layout: post
title: Me on the Pagebreak Podcast
categories: links
status: publish
custom_type: link
published: true
alias: /links/me-on-the-page-break-podcast
custom_url: http://www.pagebreakpodcast.com/snippets/better-freelance-business-practices/
hidden: true
---
<p>You might’ve noticed that I published an <a href="http://timothybsmith.com/links/my-article-on-the-treehouse-blog">article on the Treehouse Blog</a> about business. My friends over at Pagebreak invited me to be on their show and talk about it. I’m usually having to worry about everything working properly during a recording but, this time, all I had to do was show up. It was so fun!</p>
