---
layout: post
title: New Episode of the Young Guns Show with Trevan Hetzel
categories: links
status: publish
custom_type: link
published: true
custom_url: http://younggunsshow.com/episode/20/
alias: /links/new-episode-of-the-young-guns-show-with-trevan-hetzel
hidden: true
---
<p>My pal <a href="http://galengidman.com/">Galen Gidman</a> launched the redesign to his podcast, the Young Guns Show. I'm so excited to see him producing shows again. If you're a young person in this industry, and even if you're not, I'm sure you'll like this podcast. It'll inspire you to get your butt into gear and get stuff done.</p>
