---
layout: post
title: My Interview on Founders Talk
categories: links
status: publish
custom_type: link
published: true
custom_url: http://5by5.tv/founderstalk/47
alias: /links/my-interview-on-founders-talk
hidden: true
---
<p>I am so incredibly honored to be on Founders Talk this week. Founders Talk, is one of the first show’s I ever listened to, and a huge inspiration when I created The East Wing.</p>

<p>If you’d like to hear more about my story and projects, you should take a listen.</p>
