---
layout: post
title: New Episode of The East Wing with Ashley Baxter
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/55
alias: /links/new-episode-of-the-east-wing-with-ashley-baxter
hidden: true
---
<p>This week, I had the opportunity to talk with Ashley Baxter. Ashley describes herself as a tinkerer of many things, and I agree. At a young age, she took over the family business and has branched out into other products. We talk about how she got started, her first talk, and more.</p>

<p><em>Sponsored by <a href="http://slideandstage.com">Slide + Stage</a>.</em></p>
