---
layout: post
title: 'Too Lazy to Blog: Do We Really Want to go Back to AOL?'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.ssktn.com/tltb/do-we-really-want-to-go-back-to-aol/
alias: /links/too-lazy-to-blog-25
hidden: true
---
<p>This week: Adam is away with a sick household so Tim and Chris hold down the fort and talk through 30/30, a time management app, Google Reader’s imminent death, sidebars and blog design, Discovery asking for more money and is Orphan Black the best show on TV?</p>

<p>We’re taking a two week break, and we’ll be re-launching the show with an all new name, artwork, and more! Stay tuned!</p>
