---
layout: post
title: Company Culture, Explained
categories: links
custom_type: link
custom_url: http://blog.prettylittlestatemachine.com/blog/2013/02/20/what-your-culture-really-says/
alias: /links/company-culture-explained
hidden: true
---
<blockquote>
  <p>Culture is not about the furniture in your office. It is not about how much time you have to spend on feel-good projects. It is not about catered food, expensive social outings, internal chat tools, your ability to travel all over the world, or your never-ending self-congratulation.</p>
</blockquote>

<p>This article, beautifully points out the underlying problems of “company culture” these days, which although this piece examines startup culture, really applies to a much larger amount of companies. At least personally, the post describes a lot of the reasons why I’ve stayed far away from the startup scene.</p>

<p>Take a look. I’m interested in hearing what you think.</p>
