---
layout: post
title: On Redesigns
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/on-redesigns
---
<p>What is the point of redesigning something? What's trying to be accomplished? Whether it be an app, website, or any type of product, clear goals are behind necessary redesigns.</p>

<p>When clients have come to me in the past to redesign their website or brand, the first question out of my mouth, is why. Often, people have an idea of what they're trying to accomplish:  they want more customers, they'd like to provide current users with a better experience, they'd like to create a future-friendly website, etc.</p>

<p>Redesigning for the sake of change is limited to personal sites. This should never be a strategy where the user experience is actually important.</p>

<p>As designers, it's necessary we think these things through. Too many people believe that design is purely visual, and sometimes, we contribute to that incorrect assumption. The reality is, design is heavily reliant on asking the right questions, and properly analyzing the answers.</p>

<p>When we do this, we can create designs that improve an experience, and possibly improve the lives of our users.</p>
