---
layout: post
title: New Episode of The East Wing with Geri Coady
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/46-geri
alias: /links/new-episode-of-the-east-wing-with-geri-coady
hidden: true
---
<p>This week on The East Wing, I had the honor of talking with Geri Coady. Geri is a talend Designer, Illustrator, and Photographer. I'm <em>so</em> jealous of her awesome illustration skills. We talk about how she got started, her venture into freelancing, and her process into choosing colors.</p>
