---
layout: post
title: The Future of Lustra Magazine
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/the-future-of-lustra-magazine
hidden: true
---
<p>I regret to inform you that I'm killing it… nah, I'm just kidding. Who writes a post about killing something and calls it <a href="http://blogs.adobe.com/fireworks/2013/05/the-future-of-adobe-fireworks.html">The Future of…</a>? Idiots. This post is not about the death of <a href="http://lustramag.com/">Lustra</a>. In fact, it's about its rebirth.</p>

<p>Lustra has been quite the journey. It started off as a horrible <a href="http://www.kickstarter.com/projects/timothybsmith/make-awesome-magazine">Kickstarter campaign</a> that failed, was rebranded as Lustra, and then left alone as I slowly lost passion for it.</p>

<p>The past few months have been tough. We didn't get nearly as much sponsorship support as I'd hoped, and the cost of printing and shipping was a lot larger than what we had in the bank. We were stuck between a rock and hard place. We couldn't print the thing, yet had used some of the sponsorship towards costs relating to the magazine. I was stressed, and the project had become the bain of my existence.<sup id="fnref-1408:1"><a href="#fn-1408:1" rel="footnote">1</a></sup></p>

<p>All of this was going through my mind, and I couldn't figure out a way to quit. I was torn. I wanted to quit, but I didn't want to, nor could I. Then, yesterday, while sipping on a strawberry lemonade &mdash; I recommend one if you're having brain blockage &mdash; the lightbulb came on. I'd design the magazine as an iPad only magazine.</p>

<img src="{{ site.url }}/uploads/2013/05/lustra-demo-jason.jpg" alt="Jason's Design for People Article" />

<p>The magazine will come out as a single-issue app in the App Store. I know this will limit the amount of people that can have access, however the pros outweigh the cons at the moment. We'll be able to publish the magazine under budget, I won't have to worry about shipping and fulfillment, and I'll be able to design the reading experience beautifully. Lustra will be one of the few design magazines that looks great on the iPad.<sup id="fnref-1408:2"><a href="#fn-1408:2" rel="footnote">2</a></sup></p>

<img src="{{ site.url }}/uploads/2013/05/lustra-demo-paddy.jpg" alt="Paddy's Act Article" />

<p>If you have questions, or want to tell me you love this idea, <a href="https://twitter.com/ttimsmith">you know where to reach me</a>. You can subscribe to the newsletter <a href="http://lustramag.com">here</a>.</p>

<div class="footnotes">
<ol>

<li id="fn-1408:1">
<p>If you want to read a great post on completing things because you absolutely have to, you should <a href="http://daneden.me/2013/04/unfinished-business/">read this by Dan Eden</a>.&#160;<a href="#fnref-1408:1" rev="footnote">&#8617;</a></p>
</li>

<li id="fn-1408:2">
<p>I'm looking at you .net Magazine.&#160;<a href="#fnref-1408:2" rev="footnote">&#8617;</a></p>
</li>

</ol>
</div>
