---
layout: post
title: Sara Wachter-Boettcher on Embracing Imperfection
categories: links
status: publish
custom_type: link
published: true
custom_url: http://sarawb.com/2013/06/24/imperfectionist/
alias: /links/the-imperfectionist
hidden: true
---
<blockquote>
  <p>But when we only promote our shiniest pieces, we don’t really build confidence. We build shallowness. We start measuring our work in terms of the fame we get out of it, rather than the heart we put into it. We start mistaking praise for progress, and we take projects or jobs that look good on paper (or balance sheets), but do little to help us learn and grow.</p>
</blockquote>

<p>I’ve told Sara she’s one of my favorite writers, and a piece likes this just makes me like her more. I admire writing that is able to expose the true self, and I hope that one day, I can be this vulnerable with my writing.</p>
