---
layout: post
title: 'The East Wing: Chris Coyier'
categories: links
custom_type: link
custom_url: http://theeastwing.net/episodes/63
alias: /links/the-east-wing-63
hidden: true
---
<p>This week: I talk with Chris Coyier about his successful Kickstarter project, going full-time with CodePen, building websites with what you know, and more.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conference</a> - Use code ‘eastwing’ at checkout for 20% off.</em></p>
