---
layout: post
title: Instacast for Mac is Out of Beta
categories: links
status: publish
custom_type: link
published: true
custom_url: http://vemedio.com/products/instacast-mac
alias: /links/instacast-for-mac-is-out-of-beta
hidden: true
---
<p>I'll be honest, only recently was I recommended Instacast by my friend <a href="http://mykehurley.net/">Myke Hurley</a>. This app has changed the way I consume shows. For me, the ability to have show notes, cloud syncing, and a simple and easy to use Mac App, has made the whole Instacast experience one I can recommend whole-heartedly.</p>

<p>If you're like me, I'd gotten so frustrated with the bloat of iTunes and now with Instacast for Mac, I'll never have to open iTunes ever again (hopefully). I've been beta testing the app for a couple of weeks now, and I made sure to purchase a license now that it's out of beta. It's currently on sale for $14.99 until May 31st.</p>

<p>You should totally <a href="http://vemedio.com/store">buy a copy</a>.</p>
