---
layout: post
title: 'The Intellectual Radio Program: Punch You in the Targaryens'
categories: links
custom_type: link
custom_url: http://www.ssktn.com/tirp/1
alias: /links/tirp-1
hidden: true
---
<p>After a month of planning, the first episode of the new show is finally here. What used to be <em>Too Lazy to Blog</em> has been launched as a new show, called <em>The Intellectual Radio Program</em>!</p>

<p>This week, we talk about Time Warner pulling a CBS blackout and then reversing their decision, Netflix setting up viewer accounts within a family, and Marco Arment’s post about what having internet fame gets you in terms of sales in the App Store.</p>

<p>We spend the last half of the show talking through episodes 1 and 2 of Game of Thrones, season 1. Plenty of spoilers abound so you’ve been warned.</p>
