---
layout: post
title: Make Your Own Club
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/make-your-own-club
---
<p>I've never felt like I belong to a club. In school, I wasn't popular, I didn't play sports, nor was I a good student. I didn't really fit in.</p>

<p>For most of my school years, it bothered me. I became a person I wasn't, just to be accepted. It wasn't until the final years of high school that I realized I could just be myself, and not care. I could find friends who liked me for me.</p>

<p>In a certain way, this type of thing continues in work and on the web. The popular people and the ones who aren't. Unlike high school, the popular kids are mostly really nice. However, I've noticed that I —and many others— continue wanting to be part of the club.</p>

<p><strong>What is “the club” anyways?</strong></p>

<p>What we sometimes forget is that there are lots of clubs, and being active on the web is as easy as reaching out. If you don't seem to find one that suits you, make one. Create a place where you feel comfortable and can be edifying to others.</p>

<p>Being friends with big names isn't what makes you awesome, being kind and respectful does. You can't give people too much importance; sometimes, even your heroes will let you down. Time spent resenting is time not spent on doing great work.</p>
