---
layout: post
title: Good Copy *Isn't* More Valuable than Design…
categories: links
status: publish
custom_type: link
published: true
custom_url: http://robertwilliams.wpengine.com/warning-startups-need-good-copy-more-then-design/
alias: /links/good-copy-is-more-valuable-than-design
hidden: true
---
<blockquote>
  <p>Think about the design portfolios you see on dribbble and around the web. They’re sleek, intuitive, beautiful…. and they all sorta look the same. They don’t tell you how they helped solve a problem, they just show you the hi-res designs of their solutions.</p>
</blockquote>

<p>First off, I don't like the title of this post. However, it was probably meant to get people interested in the topic, <a href="/articles/silicon-valley-can-suck-it">something I've done before</a>, so I'll let that slide. For a designer, I almost feel like the writer doesn't value the role of his own job.</p>

<p>Copy <em>is not</em> more valuable than design. They are equally important on the web. Without great copy, design fails to do it's job, and likewise, without great design, it doesn't matter how great your copy is.</p>

<p>For the most part, however, I agree with a lot of what he's saying. As designers, we should be good with words. After all, we are responsible for the presentation and effectiveness of a given message.</p>

<p><a href="http://robertwilliams.wpengine.com/warning-startups-need-good-copy-more-then-design/">Read it</a>, see if you like it.</p>
