---
layout: post
title: A New RSS Setup
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/a-new-rss-setup
hidden: true
---
<p>July is upon us, and if you forgot to export your feeds out of Google Reader, you have about 6 hours to do it. Come tomorrow, Google Reader will shut down, and an a new era of RSS will begin.</p>

<p>Chris and I talked about alternatives on <a href="http://www.ssktn.com/tltb/do-we-really-want-to-go-back-to-aol/">this week’s Too Lazy to Blog</a>, but at the time, I hadn’t chosen where I’d go. However, I spent yesterday doing some research and I’d love to share my new setup with you.</p>

<h3>Powering the Backend</h3>

<p>There are quite a few choices out there at this point. The problem is that the integrations aren’t great. <a href="http://cloud.feedly.com/">Feedly</a> for example, seems to have a lot of support, but it’s free and I decided early on that I wanted to pay for the service. This way, the likeliness of the service disappearing is smaller.</p>

<p>I decided on <a href="http://feedwrangler.net/welcome.html">Feed Wrangler</a>. I’ve heard some very good things about the service, as well as the developer behind it. Also, it has a pretty cool bookmarklet for you to instantly subscribe to a feed. The UI isn&#8217;t great, but I just need it to power the syncing. I almost never visit the actual site.</p>

<h3>Apps</h3>

<p>I’d previously been using <a href="http://reederapp.com/">Reeder</a>. However, only their iPhone app integrates with any of these new services, and there’s no word on when exactly the iPad and Mac apps will follow. Personally, I don’t really enjoy reading on my phone or on my Mac, so it was important to find a service that integrated with a great iPad app.</p>

<p>I chose <a href="http://www.curioustimes.de/mrreader/">Mr. Reader</a>. Creepy icon aside, the app is really nice. You can customize the reading experience a lot more than Reeder, and the sharing actually works. It has Readability, Twitter, App.net, and Kippt integration which is perfect for me. If you need more than that, have no fear, the app has many different choices.</p>

<p>If you also need a Mac app, I’m most likely going to go with <a href="http://readkitapp.com/">ReadKit</a>. Again, integrations look great, and the customization of the reading experience is pretty awesome.</p>

<p>Anyway, I hope that helps. Let me know if you’ve found alternate solutions. I’d love to hear about them. Happy reading!</p>
