---
layout: post
title: 'The East Wing: Getting Serious with Nicole Dominguez'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://theeastwing.net/episodes/60
alias: /links/the-east-wing-60
hidden: true
---
<p>This week: I talk with Nicole Dominguez about how she got started in Design, being young, her thoughts on college, and more.</p>

<p><em>Sponsored by <a href="http://blendconf.com">Blend Conf</a>. Use the code ‘east wing’ for 30% off.</em></p>
