---
layout: post
title: Deploy Securely with SFTP
categories: videos
status: publish
custom_type: video
published: true
hidden: true
alias: /videos/deploy-securely-with-sftp
video-embed: <iframe src="http://player.vimeo.com/video/60709595" width="500" height="281"
    frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
---
<p>In the past, I've had issues with using SFTP. For some reason, the documentation I had looked at, didn't really help. So I decided to make a quick screencast on using SFTP to deploy files to your server.</p>

<p>If you liked this screencast, you might like <a href="http://timlikestoteach.com/">timlikestoteach.com</a>! Learn web design, front-end development, WordPress, Scss, and more!</p>

<h3>Video Notes</h3>

<ul>
<li><a href="https://twitter.com/matro">൱αϯr๏ (matro) on Twitter</a></li>
</ul>
