---
layout: post
title: 'Too Lazy to Blog: I Need My Diapers Now Amazon Mom!'
categories: links
status: publish
custom_type: link
published: true
custom_url: http://www.ssktn.com/tltb/i-need-my-diapers-now-amazon-mom/
alias: /links/too-lazy-to-blog-i-need-my-diapers-now-amazon-mom
hidden: true
---
<p>This week: Chris and I introduce Adam to Game of Thrones, we discuss Netflix losing licensing for Spongebob, the deluge of new iOS mail apps, and the upcoming week of WWDC news.</p>

<p><em>We're looking for <a href="http://www.ssktn.com/sponsorship/">sponsors</a>.</em></p>
