---
layout: post
title: Overcoming Yourself
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/overcoming-yourself
---
<p>Writing for me, is one of those things I wish I could be great at. I can read pieces by other people, and be moved, inspired, motivated, and more with a single paragraph. Great writers are able to convey emotion and tell a story while keeping you interested with every word.</p>

<p>For as long as I can remember, I've told myself that I can't write. I've noticed that I have the power to hold myself back, if I don't fight against the urge to talk myself out of things. If I want to be a great writer, what better way than to practice a little everyday?</p>

<p><strong>That’s exactly what I’m doing.</strong></p>

<p>I'm tired of telling myself I can't do something; that's the world's job. I can't draw, I can't play piano, I can't be fit, etc; it's rubbish. I can do all those things. The only thing in the way is <strong>me</strong>.</p>

<p>It's quite an interesting moment when you realize the biggest hurdle to overcome is your own cynicism; that's ridiculous. If anything, you should be rooting for your own self.</p>

<p>I give up on trying to stop myself from doing something I really want; you could be on the edge of greatness and not realize it.</p>
