---
layout: post
title: 'Looking Back: March 2013'
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/looking-back-march-2013
hidden: true
---
<p>March has gone by in what seems like a blink of an eye. This is what I've been up to.</p>

<p>First off, I'd like to give a shout-out to my pal <a href="http://matt-steele.com">Matt Steele</a> whom gave me this idea. He writes a post at the end of every month, I assume in an effort to document things. Here's <a href="http://matt-steele.com/blog/single/march-2013-in-review">the one he wrote for March</a>.</p>

<h3>Launching Tim Likes to Teach</h3>

<p>At the beginning of March, I was so excited to <a href="/links/my-first-product-launches">launch my first product</a>. <a href="http://timlikestoteach.com">Tim Likes to Teach</a> is a place for anyone to learn Web Design, Front-End Development, WordPress, SCSS, Compass, and so much more.</p>

<p>I launched with one course called <a href="http://timlikestoteach.com/courses/design-and-build-an-art-directed-blog/"><em>Design and Build an Art-Directed Blog</em></a>, which is priced at $8. I priced it low on purpose. I wanted as many people as possible to have the ability to purchase it; whether you want to learn a new skill, you're considering a career change, or you're a kid who's only money comes from an allowance.</p>

<h3>The East Wing Nominated for an Award</h3>

<p>This is huge for me. I've never been nominated for anything before, so that y'all thought my show was worthy of this honor is very humbling. It's interesting to see a project which I started more for myself without any intentions of popularity or praise, garnering such.</p>

<p>Whether I win or lose, I love doing that show, and I can't thank those of you who listen enough for all the support and kindness you've shown me. It's a pleasure doing that show, and I hope to do it for a long time.</p>

<p>If you've listened to the show, and you like it, I'd love to have your <a href="http://www.thenetawards.com/">vote</a>.</p>

<h3>New Shows</h3>

<p>I'm also currently working on new shows. I can't say much about them at the moment but, I'm really excited to be planning them. I've had these ideas for quite some time, but I finally feel like I have the time (or I'll make it), and that I can make them a success; more news on this soon.</p>

<p>And that's it. March has been a busy month and it looks like April will be too. Thanks for reading!</p>
