---
layout: post
title: The Future of Tim Smith
categories: articles
status: publish
custom_type: post
published: true
alias: /articles/the-future-of-tim-smith
hidden: true
---
<p>I've quit my job and stopped looking for full-time work. What's next for me then?</p>

<p>As I've explained in a <a href="/articles/dealing-with-insecurities">previous post</a>, the past year has been quite the journey. I moved across the country, worked with some great people, and made some bad choices. However, this post isn't about reflecting on the past; I've done enough of that. I'm done.</p>

<p>Some of you may know that I recently quit my job at <a href="http://rocketlift.com">Rocket Lift</a>. I can't send enough love to those guys. They are hands down the best team I've worked with so far, and there was seldom a day when I wasn't excited to get to work.<sup id="fnref-1447:1"><a href="#fn-1447:1" rel="footnote">1</a></sup></p>

<p>My first inclination was to find another full-time job. I applied in a couple of different places that I was interested in, some didn't get back to me, and a few interviewed me. After this whole process, I realized that there's really only one company I'd actually like to work for, and that's <a href="http://lift.gs">Lift</a>.</p>

<p>Lift<sup id="fnref-1447:2"><a href="#fn-1447:2" rel="footnote">2</a></sup> is a great company that’s working on some very exciting things. I feel like I could learn a lot and I know <a href="http://chris-wallace.com">Chris</a> likes that I have all these side-projects. If there was ever a good fit for me, I think it’d be there.</p>

<p>However, since they’re not offering a position at the moment, I stepped back and questioned why I was looking for a full-time job in the first place. I'm single.<sup id="fnref-1447:3"><a href="#fn-1447:3" rel="footnote">3</a></sup> I have no family to support. Why work full-time, make tons of money, yet not have the ability to freely work on my side-projects, when these are what bring me joy? That's when it hit me:</p>

<blockquote>
  <p>…I’d rather be poor and do something I love than make lots of money doing something I don’t.</p>
</blockquote>

<p>People spend a lifetime stuck in a routine they hate. They wake up at the crack of dawn, sit in traffic, work for 8 or 10 hours, come home, and start all over again. I don't want this for myself. Ever. Life was created to be enjoyed, and that doesn't sound like joy to me.</p>

<p>Don’t get me wrong, if there is a position that I feel will be good for me and these projects, I’ll take it. Till now, most of the companies I’ve interviewed with had no knowlege of my side projects<sup id="fnref-1447:4"><a href="#fn-1447:4" rel="footnote">4</a></sup>, nor did they show any interest in them. For me, this is a huge red flag, and one of the reasons I’ve turned down some offers.</p>

<p>My projects are important to me, and what these employers don’t realize, is that these ventures make me a better employee, and in some cases, bring attention to their companies.</p>

<h3>What I'm Doing Instead</h3>

<p>I know I have the skill and talent to create things people love, and will be willing to pay for. More importantly, I'm fortunate to have people who like what I do, and want to support my endeavors. The plan is to make the things I'm already doing profitable.</p>

<ol>
<li><p><strong>Consulting Work</strong><br />
I'm a great Designer and Front-End Developer. At the moment I'm taking clients for the next couple of months. If you, or someone you know, needs a designer, please <a href="/portfolio">take a look at my portfolio</a>. You can also <a href="http://zerply.com/ttimsmith/endorse">read what others have said about me</a>.</p></li>
<li><p><strong>The East Wing</strong><br />
This show is special to me. It's definitely my favorite project to work on. However, it needs to become more profitable. Each month, we attract around 20k people. That means we should be able to sell sponsorships at a higher rate. I've also created <a href="http://theeastwing.net/membership">memberships</a> for the show. If you love the show, and you kinda-sorta like me, please consider becoming a member. These memberships help pay me for the time I put into it, and honestly, will help me pay my rent.</p></li>
<li><p><strong>Lustra Magazine</strong><br />
I'll be submitting <a href="http://lustramag.com/">Lustra</a> to the App Store at the beginning of June; that's a hard deadline. I've completely redesigned the magazine for the iPad, and —not to toot my own horn— it's looking beautiful. I think you're really going to like it and if this first issue is a success, I have some exciting plans for the project.</p></li>
<li><p><strong>Tim Likes to Teach</strong><br />
This project in particular has a lot of untapped potential. A considerable amount of people loved <a href="http://timlikestoteach.com/">Tim Likes to Teach</a>. I'll be deploying a beautiful new design that improves the experience of the site. It will soon be moving to a subscription where you get access to everything for only $8.99 a month. I have a pretty cool course plan for this.</p></li>
<li><p><strong>Bytesize</strong><br />
This is a new show I plan to do. It's a weekly news update focused on the tech, design, and development industries. You can <a href="http://bytesizenews.co/">sign up for the newsletter</a> to be notified of when the show launches. This show is part of a bigger plan, that I can't wait to show you.</p></li>
</ol>

<p>So that's the plan; make a living from the projects I currently have, and more that I won't talk about yet. If you're interested in supporting me, and this plan, consider <a href="http://theeastwing.net/membership">becoming a member</a> on The East Wing. It's inexpensive, and the more support it gets, the less I'll have to worry about sponsorships.</p>

<p>I’d like to reiterate that I have no idea what I’m doing. Who knows? Maybe I’ll have to end up taking a job to make my bills. I really hope not. I think these things have the potential to earn me a living.</p>

<p>Thank you so much, without you, this wouldn’t even be a possibility.</p>

<div class="footnotes">
<ol>

<li id="fn-1447:1">
<p>You know you've suffered with a case of the Mondays before.&#160;<a href="#fnref-1447:1" rev="footnote">&#8617;</a></p>
</li>

<li id="fn-1447:2">
<p>Is it me or do I seem to like companies with the word "Lift" in it?&#160;<a href="#fnref-1447:2" rev="footnote">&#8617;</a></p>
</li>

<li id="fn-1447:3">
<p>I'd really like to make a joke here, but it'd probably be misinterpreted in text.&#160;<a href="#fnref-1447:3" rev="footnote">&#8617;</a></p>
</li>

<li id="fn-1447:4">
<p>They're on my resume. It's impossible to miss.&#160;<a href="#fnref-1447:4" rev="footnote">&#8617;</a></p>
</li>

</ol>
</div>
