
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$dark-color:    #f5775b;
$text-color:    #555;
$link-color:    #429cd4;
$border-color:  #f4f4f4;
$jazz-color:    #202232;
$alert-color:   #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs:   rem-calc(10px);
$spacing-xs:    rem-calc(15px);
$spacing-s:     rem-calc(20px);
$spacing-m:     rem-calc(30px);
$spacing-l:     rem-calc(40px);
$spacing-xl:    rem-calc(50px);
