/*

BUTTONS
--------------------------------------------------------- */

button[type=submit] {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

.btn {
  background: $link-color;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: .85em;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  @include transition(.2s ease-in-out);
  @extend %sans;
  &:hover {
    background: darken($link-color, 10%);
    color: white;
  }
  &.centered-btn {
    display: block;
    text-align: center;
  }
}

.secondary {
  background: $jazz-color;
  color: white !important;
  // @include transition(.2s ease-in-out);
  &:hover {
    background: darken($jazz-color, 5%);
  }
}

.big {
  font-size: 110%;
}
