/*

IMAGES
------------------------------------------- */

img {
  display: block;
	width: 100%;
	height: auto;
	margin: 0 0 3.125%;
}

.content__image {
	margin: 0 0 3.125%;
	img {
		margin: 0;
	}
  .site__description & {
    margin-bottom: 0;
    @include breakpoint(m) {
      margin-bottom: $spacing-s;
    }
  }
}
