/*

OBJECTS
------------------------------------------- */

.contain {
  max-width: 722px;
  padding: 0 1rem;
  width: 100%;
  @media #{$medium-up} {
    padding: 0 2rem;
  }
}

.flex-container {
  max-width: 1200px;
  padding: 0 1rem;
  @media #{$medium-up} {
    display: flex;
    padding: 0 2rem;
  }
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lead-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
}

.main-column {
  flex: 0 1 650px;
}

.main-column--left, .side-column--left {
  @media #{$medium-up} {
    margin-right: 3rem;
  }
}

.side-column {
  flex: 0 1 320px;
  @media #{$small-only} {
    border-bottom: 1px solid $border-color;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}

.order--one {
  order: 1;
}

.order--two {
  order: 2;
}

// -------------------------------
// Social Icons
// -------------------------------

.social-icons {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  li {
    line-height: 1;
    margin: 0 .3rem 0 0;
    padding: 0;
    &:last-child {
      padding: 0;
    }
    a {
      display: block;
    }
  }
}
