/*

PAGE NAVIGATION
------------------------------------------- */

.pagination {
	@extend %clearfix;
  text-align: center;
  margin: 8% 0;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0;
      line-height: inherit;
      padding: 0;
    }
  }
}

.pagination a {
  background: $jazz-color;
  border: none !important;
  display: inline-block;
  padding: 5px 14px;
  margin: 0 5px;
  font-size: .85em;
  font-weight: bold;
  color: white;
  text-decoration: none !important;
  border-radius: 4px;
  &:hover {
    background: darken($jazz-color, 10%);
    color: white;
  }
  &:active {
    box-shadow: inset 2px 2px 0 rgba(black, .2);
  }
}

.disabled {
  background: $border-color;
  color: lighten($dark-color, 40%);
  padding: 5px 14px !important;
  margin: 0 5px;
  border-radius: 4px;
  border: none !important;
  display: inline-block;
  font-weight: bold;
  font-size: .85em;
}
