// -------------------------------
// TYPE
// -------------------------------


// BASE TYPE ---------------------

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  @media #{$medium-up} {
    font-size: 18px;
  }
}

body {
  @extend %sans;

  color: $text-color;
  line-height: 140%;
}

// FONTS -------------------------

%sans {
  font-family: 'Whitney SSm A', 'Whitney SSm B', system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
}

%second-sans {
  font-family: 'Whitney Cond A', 'Whitney Cond B', system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
}

// HEADINGS ----------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %second-sans;

  line-height: 130%;
}

h1,
h2,
h5 {
  color: $text-color;
}

.page__header {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  width: 100%;
  .subheader {
    margin-top: 0;
  }
}

// TEXT --------------------------

p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: rem-calc(15px);
  &:last-child {
    margin-bottom: 0;
  }
  @media #{$medium-up} {
    font-size: 1rem;
  }
}

h1 {
  line-height: 110%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 2.3rem 0 0;
  + h3 {
    margin-top: 1rem;
  }
}

h3 {
  color: lighten($text-color, 35%);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2.3rem 0 .5rem;
  text-transform: uppercase;
}


h4 {
  color: lighten($dark-color, 30%);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.5rem 0 rem-calc(3px);
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 3rem 0 rem-calc(3px);
  text-transform: uppercase;
  &:before {
    background: $border-color;
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 5px;
    width: 90px;
  }
}

h6 {
  color: lighten($text-color, 20%);
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  list-style-type: disc;
  margin-bottom: rem-calc(25px);
  @media #{$medium-up} {
    margin-bottom: rem-calc(25px);
    margin-left: rem-calc(40px);
  }
  li {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: .5rem;
    padding: rem-calc(2px) 0 0;
    @media #{$medium-up} {
      font-size: 1rem;
    }
    ul {
      list-style-type: circle;
      margin-bottom: 0;
      width: 100%;
      li {
        font-size: inherit;
      }
    }
    p {
      font-size: inherit;
      margin: 0 0 rem-calc(10px) 0;
    }
    &:last-child {
      padding: 1.25% 0 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin-bottom: rem-calc(25px);
  margin-left: 2.3rem;
  text-align: left;
  li {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: rem-calc(2px);
    @media #{$medium-up} {
      font-size: 1rem;
    }
    ol {
      list-style-type: lower-roman;
      margin-bottom: 0;
      width: 100%;
    }
    p {
      font-size: inherit;
      margin: 0 0 rem-calc(25px) 0;
      &:last-child {
        margin-bottom: rem-calc(15px);
      }
    }
  }
}

.subheader {
  color: lighten($text-color, 30%);
  font-weight: normal;
}


// INLINE TYPE -------------------

strong {
  font-weight: 600;
  em {
    font-style: italic;
    font-weight: 600;
  }
}

em,
cite {
  font-style: italic;
  font-weight: inherit;
}

sup {
  a {
    background: lighten($link-color, 35%);
    border-radius: 50%;
    font-size: .7rem;
    font-weight: 600;
    padding: 1px 6px;
    text-decoration: none;
    &:hover {
      background: lighten($link-color, 40%);
    }
  }
}

pre {
  background: #FCFCFC;
  border-radius: 3px;
  font-family: Inconsolata, 'Inconsolata-g for Powerline', monospace;
  overflow-x: auto;
  padding: 3%;
  white-space: pre;
  code {
    background: none;
    padding: 0;
  }
}

.highlight {
  margin: 0 0 $spacing-s;
}

code {
  background: #F5F5F5;
  border-radius: 3px;
  color: $text-color;
  font-family: Inconsolata, 'Inconsolata-g for Powerline', monospace;
  font-size: 1.1rem;
  padding: 2px 5px;
  pre & {
    color: inherit;
  }
  @media #{$medium-up} {
    font-size: 1rem;
  }
}



// BLOCKQUOTE --------------------

blockquote {
  border-left: 2px solid $link-color;
  color: lighten($text-color, 15%);
  margin: 0 auto rem-calc(25px);
  padding-left: rem-calc(15px);
  width: 92%;
  small {
    display: block;
    font-size: .8rem;
    margin: rem-calc(10px) 0 0;
    &:before {
      color: darken($border-color, 10%);
      content: '—';
    }
  }
  > blockquote {
    width: 100%;
  }
}

.content__pullquote {
  border: 0;
  margin: 1.5rem 0;
  padding: 0;
  text-align: center;
  p {
    color: lighten($text-color, 20%);
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.7;
  }
  small {
    line-height: 1.2;
    strong {
      display: block;
    }
  }
}

// HR ----------------------------

hr {
  @extend %clearfix;

  border: solid $border-color;
  border-width: 2px 0 0;
  display: block;
  height: 0;
  margin: 3rem auto;
  max-width: 300px;
  padding: 0;
  width: auto;
}


// LINKS -------------------------

a {
  color: $link-color;
  text-decoration: underline;
  transition: color 500ms ease;
  &:hover {
    color: lighten($link-color, 10%);
  }
  header & {
    text-decoration: none;
  }
}
