---
---

/*
BITS --------------------------------------- */
@import "_redbat/mixins";
@import "_redbat/bits";

$dark-color: #646c6f;
$jazz-color: #fc8833;

/*
BUTTONS ------------------------------------ */

.btn {
  background: $jazz-color;
  &:hover, &:focus {
    background: lighten($jazz-color, 10%);
  }
  &:active {
    background: darken($jazz-color, 5%);
  }
}

.button-pill {
  border-radius: 40px;
  padding: 10px 20px;
}

/*
OBJECTS ------------------------------------ */

.page__section {
  padding: $spacing-xl 0;
  &.section__heading {
    padding-bottom: 0;
  }
}

.bg-dark {
  background: $dark-color;
}

.bg-jazz {
  background: $jazz-color;
}

/*
TYPE --------------------------------------- */

.text-center {
  text-align: center;
}

.page__title {
  color: white;
  font-size: 4em;
  font-weight: 900;
  line-height: 100%;
}

h2.subheader {
  font-size: 1.8em;
  color: rgba(white, .7);
}

/*
PAGE STYLES -------------------------------- */

.main__content {
  .cms-landing & {
    margin-bottom: 0;
  }
}

.section__heading {
  text-align: center;
}

.header__screenshot {
  margin-top: $spacing-l;
  img {
    margin: 0;
  }
}

.features__row {
  margin-bottom: $spacing-s;
  &:last-child {
    margin-bottom: 0;
  }
}

.section__quote {
  blockquote.content__pullquote {
    margin: 0;
    p, p:first-child {
      color: white !important;
    }
    small {
      color: rgba(white, .6);
      strong {
        color: darken($jazz-color, 30%);
      }
    }
  }
}

.cta {
  h4 {
    color: white;
  }
  p {
    color: rgba(white, .7);
  }
}

.copyright {
  margin: $spacing-xl 0 0;
  small {
    color: rgba(white, .6);
    font-size: .85em;
  }
}
