// =========================================
// FOOTER
// =========================================

.site__footer {
  background: $dark-color;
  padding: 1.5rem 1rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media #{$medium-up} {
    padding: 1.5rem 2rem;
  }
  small {
    color: lighten($dark-color, 55%);
    display: block;
    font-size: .75rem;
    @media #{$small-only} {
      margin-bottom: .7rem;
    }
  }
  .icon {
    fill: lighten($dark-color, 55%);
    transition: fill 300ms ease;
    width: 24px;
    &:focus,
    &:hover {
      fill: lighten($dark-color, 45%);
    }
  }
}
