// =========================================
// HEADER
// =========================================

.site__header {
  margin: 1rem 0 2.5rem;
  display: flex;
  align-items: center;
  .home__header & {
    left: 1rem;
    position: absolute;
    z-index: 2;
    @media #{$medium-up} {
      left: 2rem;
    }
  }
}

.site__branding {
  margin: 0 .8rem 0 0;
  max-height: 40px;
  svg {
    width: 40px;
  }
}

.supersmith-icon {
  fill: $dark-color;
  .home__header & {
    fill: $jazz-color;
  }
}

.main__navigation {
  ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  li {
    font-size: .8rem;
    margin: 0 .5rem 0 0;
    padding: 0;
    &:last-child {
      padding: 0;
    }
  }
  a {
    color: lighten($text-color, 20%);
    &:focus,
    &:hover {
      color: $link-color;
    }
    .home__header & {
      color: lighten($dark-color, 55%);
      &:focus,
      &:hover {
        color: white;
      }
    }
  }
}
