// =========================================
// MAIN CONTENT
// =========================================

.home__cover {
  background-color: $dark-color;
  padding: 4rem 1rem 2rem;
  min-height: 100vh;
  @media #{$medium-up} {
    align-items: center;
    display: flex;
    padding: 1rem 2rem 0;
  }
}

.cover__about {
  flex: 0 1 620px;
  p {
    color: lighten($dark-color, 65%);
  }
  a {
    color: lighten($dark-color, 65%);
  }
  @media #{$medium-up} {
    padding: 5rem 0 2rem;
    order: 1;
  }
  @media #{$large-up} {
    padding-top: 0;
  }
}

.about__title {
  color: $jazz-color;
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 300;
  @media #{$medium-up} {
    font-size: 3rem;
  }
}

.cover__character {
  flex: 0 1 400px;
  @media #{$small-only} {
    margin-bottom: 1rem;
  }
  svg {
    @media #{$small-only} {
      height: 50vh;
    }
    max-height: 95vh;
  }
  @media #{$medium-up} {
    order: 2;
  }
}
