// =========================================
// PAGE STYLES
// =========================================

// -------------------------------
// Portfolio
// -------------------------------

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 0 1rem;
  @media #{$medium-up} {
    padding: 0 2rem;
  }
}

.portfolio__entry {
  margin-bottom: 2.5rem;
  &:nth-child(3n) {
    padding-right: 0;
  }
  @media #{$medium-up} {
    flex: 0 1 50%;
    padding-right: 1.5rem;
  }
  @media #{$large-up} {
    flex: 0 1 33.3%;
  }
  h2 {
    margin-top: 1rem;
    a {
      text-decoration: none;
    }
  }
}

.portfolio__thumb {
  img {
    margin: 0;
  }
}

.portfolio__hero {
  max-width: 1700px;
  padding: 0 1rem;
}

.portfolio__sidebar {
  align-self: flex-start;
  background: lighten($border-color, 2%);
  border-radius: 3px;
  flex: 0 1 320px;
  padding: 1rem;
  h3 {
    color: $text-color;
    font-size: .9rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .sidebar-widget {
    border-bottom-color: darken($border-color, 10%);
    p {
      font-size: .8rem;
    }
  }
  @media #{$small-only} {
    margin: 2rem 0;
  }
  @media #{$medium-up} {
    margin-right: 3rem;
  }
}

// -------------------------------
// Blog
// -------------------------------

.posts {
  list-style-type: none;
  margin: 0;
  li {
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  }
  .post__title {
    @extend %second-sans;

    font-size: 1.3rem;
    font-weight: 600;
    @media #{$medium-up} {
      font-size: 1.2rem;
    }
  }
  .post__date {
    margin: 0;
  }
}

.post__date {
  color: lighten($text-color, 20%);
  display: block;
  font-size: .85rem;
  @media #{$medium-up} {
    font-size: .75rem;
  }
}

.post__header {
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.875rem;
  }
}

.post__content {
  > p:first-child {
    @extend .lead-paragraph;
  }
}

.footnotes {
  margin: 2.5rem 0;
  ol {
    margin: 0 0 0 2rem;
    width: 83%;
    li {
      font-size: .9rem;
      margin: 0;
      padding: 0;
      @media #{$medium-up} {
        font-size: .8rem;
      }
      code {
        font-size: .8rem;
      }
    }
  }
  &:before {
    background: $border-color;
    content: '';
    display: block;
    height: 3px;
    margin-bottom: 1rem;
    width: 150px;
  }
}

// -------------------------------
// Resume
// -------------------------------

.resume__image {
  margin-bottom: 2rem;
  img {
    max-height: 400px;
    max-width: 700px;
    object-fit: cover;
  }
}

.resume__sidebar {
  background: lighten($border-color, 2%);
  flex: 0 1 320px;
  padding: 1rem;
  @media #{$small-only} {
    margin-top: 2rem;
  }
  @media #{$medium-up} {
    margin-right: 1.5rem;
  }
  p {
    font-size: .9rem;
  }
  .resume__heading {
    border-color: darken($border-color, 5%);
    &:first-child {
      margin-top: 0;
    }
  }
}

.resume__statement {
  font-size: 1.2rem;
  line-height: 1.6;
}

.resume__heading {
  border-bottom: 1px solid $border-color;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: .6rem;
  padding-bottom: .3rem;
  text-transform: uppercase;
  + .resume__subheading {
    margin-top: .6rem;
  }
}

.resume__subheading {
  color: $text-color;
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1.3rem;
  text-transform: none;
}

.resume__meta {
  color: lighten($text-color, 20%);
  font-size: .85rem;
  margin-bottom: .4rem;
}

.resume__other-info {
  li {
    font-size: .85rem;
    line-height: .9;
  }
}
