/*

SIDEBAR
------------------------------------------- */

#sidebar {
  background: lighten($border-color, 2%);
  border-radius: 3px;
  color: lighten($dark-color, 35%);
  padding: $spacing-m $spacing-s;
  @include breakpoint(s) {
    padding: $spacing-xl $spacing-m;
  }
  h3 {
    font-weight: 400;
    @extend %second-sans;
  }
}

.sidebar-widget {
  border-bottom: 1px dashed darken($border-color, 10%);
  margin: 0 0 percentage(40/940);
  padding: 0 0 percentage(40/940);
  font-size: 80%;
  @include breakpoint (m) {
    font-size: 95%;
  }
  &:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0;
  }
  h4 {
    font-weight: 700;
    margin-top: percentage(30/940);
  }
  p {
    line-height: 140%;
  }
}

.published {
  margin: 0;
  list-style-type: none;
  li {
    margin-bottom: $spacing-xxs;
    a {
      text-decoration: none;
    }
    small {
      color: lighten($dark-color, 35%);
      display: block;
      font-size: .9em;
      font-weight: normal;
      @extend %sans;
    }
  }
}
