---
layout: default
---

<div class="contain">
  {% include header.html %}
  <header class="page__header">
    <h1>{{ page.title }}</h1>
  </header>
</div><!-- /.contain -->

{{ content }}

{% include footer.html %}
