---
layout: default
---
<div class="contain">
  {% include header.html %}
</div><!-- /.contain -->

<div class="contain">
  <header class="page__header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}
</div><!-- .contain -->

{% include footer.html %}
