---
layout: default
---
<div class="contain">
  {% include header.html %}
</div><!-- /.contain -->

<div class="portfolio__hero">
  <img src="{{ site.url }}/{{ page.hero }}" alt="Hero for {{ page.title }}" />
</div>

<div class="flex-container">
  <aside class="portfolio__sidebar">
    <div class="sidebar-widget">
      <h3>Role</h3>
      <p>{{ page.role }}</p>
    </div>

    <div class="sidebar-widget">
     <h3>Type</h3>
     <p>{{ page.type }}</p>
    </div>

    {% if page.item_url %}
      <div class="sidebar-widget">
        <h3>Live Site</h3>
        <p><a href="{{ page.item_url }}">{{ page.title }}</a></p>
      </div>
    {% endif %}
  </aside>

  <div class="main-column">
    <header class="post__header">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="post__content">
      {{ content }}
    </div>
  </div>
</div><!-- .contain -->

{% include footer.html %}
