---
layout: default
---
<div class="contain">
  {% include header.html %}
</div><!-- /.contain -->

<article class="contain">
  <header class="post__header">
    <small class="post__date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%a, %b %d, %Y" }}</time></small>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="post__content">
    {{ content }}
  </div>
</article><!-- .contain -->

{% include footer.html %}
